@(returnResponse: SubmitReturnsResponse)(implicit atedContext: AtedContext, messages: Messages)

@import models._
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.LocalDate
@import utils._
@import views.html.helpers._
@import views.html.helpers.error._

@analyticsJs = {
  ga('set', 'page', document.location.pathname);
  ga('set', 'location', document.URL.split("?")[0]);
}

@atedMain(title = Messages("ated.chargeable-return-confirmation.title"),
          attorney = atedContext.user.authContext.attorney,
          analyticsAdditionalJs = Some(analyticsJs)) {

  <div id="banner" class="transaction-banner--complete form-group">
    <h1 class="heading-large" id="value-text">
      @Messages("ated.chargeable-return-confirmation.submitted.text" , DateTimeFormat.forPattern("d MMMM yyyy").print(new LocalDate()))
    </h1>
  </div>

  <div class="form-group">
    <p id="completed-message">@Messages("ated.chargeable-return-confirmation.completed.message")</p>
    <p id="email-message">@Messages("ated.chargeable-return-confirmation.email.message")</p>

    <a href="@controllers.propertyDetails.routes.ChargeableReturnConfirmationController.viewPrintFriendlyChargeableConfirmation()" id="print-friendly-relief-link" data-journey-click="ated-fronted:click:print-friendly-relief-link" target="_blank">
      @Messages("ated.reliefs-sent.print-link")
    </a>
  </div>

  <div class="divider--top--thick"></div>



    <h2 id="receipt-message-title" class="heading-medium">@Messages("ated.chargeable-return-confirmation.charge.heading")</h2>

    <p id="adjusted-amount">@Messages("ated.chargeable-return-confirmation.amount.message")</p>


      @returnResponse.liabilityReturnResponse.map { liabilityReturnResponse =>
        <p id="owed-amount">@Html(Messages("ated.chargeable-return-confirmation.owe.text", formattedPounds(liabilityReturnResponse.head.liabilityAmount)))</p>
        <p id="reference-text">@Html(Messages("ated.chargeable-return-confirmation.reference.text", liabilityReturnResponse.head.paymentReference.getOrElse("")))</p>
        <p id="late-payment">@Html(Messages("ated.chargeable-return-late-payment.text"))</p>
      }


  <div class="form-group">
    <p id="not-receive-email">
      @Messages("ated.chargeable-return-confirmation.not-receive-text")
    </p>
  </div>

  <a href="@controllers.routes.AccountSummaryController.view()" id="submit" role="button" class="button">@Messages("ated.chargeable-return-confirmation.back-to-ated-link.text")</a>

}
