@import models._
@(id: String, periodKey: Int, propertyDetailsForm: Form[PeriodChooseRelief], backLink:Option[String])(implicit atedContext: AtedContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._
@import utils._

@implicitFormInstance = @{ Some(propertyDetailsForm) }

@analyticsJs = {
  var id = "@id";
  var page = document.location.pathname.replace('/' + id, '');
  ga('set', 'page', page);
}

@atedMain(title = Messages("ated.property-details-period.chooseRelief.title"),
          attorney = atedContext.user.authContext.attorney,
          analyticsAdditionalJs = Some(analyticsJs)) {

  @pageHeadersAndError(backLink, "pre-heading", Messages("ated.property-details.pre-header"), "property-details-header", Messages("ated.property-details-period.chooseRelief.header"),
      Some(atedErrorSummary(propertyDetailsForm, "ated.property-details-period.chooseRelief.error")))

  @form(action=controllers.propertyDetails.routes.PeriodChooseReliefController.save(id, periodKey)) {

      <div class="form-group">
        @atedInputRadioGroupNew(propertyDetailsForm("reliefDescription"),
        Seq(
        ReliefsUtils.RentalBusinessDesc -> Messages("ated.choose-single-relief.rentalBusiness"),
        ReliefsUtils.OpenToPublicDesc -> Messages("ated.choose-single-relief.openToPublic"),
        ReliefsUtils.PropDevDesc -> Messages("ated.choose-single-relief.propertyDeveloper"),
        ReliefsUtils.PropTradingDesc -> Messages("ated.choose-single-relief.propertyTrading"),
        ReliefsUtils.LendingDesc -> Messages("ated.choose-single-relief.lending"),
        ReliefsUtils.EmpOccDesc -> Messages("ated.choose-single-relief.employeeOccupation"),
        ReliefsUtils.FarmHouseDesc -> Messages("ated.choose-single-relief.farmHouses"),
        ReliefsUtils.SocialHouseDesc -> Messages("ated.choose-single-relief.socialHousing"),
        ReliefsUtils.EquityReleaseDesc -> Messages("ated.choose-single-relief.equityRelease")
        ),
        '_legend ->"",
        '_labelClass -> "block-label",
        '_labelAfter -> true,
        '_trackGA -> true
        )
      </div>

      <button class="button" id="submit" type="submit">
          @Messages("ated.save-and-continue")
      </button>
  }

}
