@import models._
@(id: String, periodKey: Int,
 propertyDetailsForm: Form[PropertyDetailsInRelief],
 periods : Seq[models.LineItem],
 mode: Option[String],
 backLink: Option[String])(implicit atedContext: AtedContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._
@import utils._

@implicitFormInstance = @{ Some(propertyDetailsForm) }

@pageScripts = {
}

@atedMain(title = Messages("ated.property-details-period.peroidsInRelief.title"), attorney = atedContext.user.authContext.attorney, pageScripts = Some(pageScripts)) {
  @pageHeadersAndError(backLink, "pre-heading", AtedUtils.getPropertyDetailsPreHeader(mode), "property-details-header", Messages("ated.property-details-period.peroidsInRelief.header"),
      Some(atedErrorSummary(propertyDetailsForm, "ated.property-details-period-error.general")))

  @if(periods.isEmpty){
    <p><span class="heading-medium" id="no-periods">@Messages("ated.property-details-period.periodsInRelief.no-periods")</span></p>
    <div class="divider--top--thick"></div>
  }else {
    <table id="period-summary">
      <thead>
        <tr>
          <th id="date-from-header">@Messages("ated.property-details-period.periodsInRelief.date-from-header")</th>
          <th id="date-to-header">@Messages("ated.property-details-period.periodsInRelief.date-to-header")</th>
          <th id="return-type-header" colspan="2">@Messages("ated.property-details-period.periodsInRelief.return-type-header")</th>
        </tr>
      </thead>
      @for((period, index) <- periods.zipWithIndex) {
      <tr>
        <td id="date-from-value-@index">@period.startDate.toString(Messages("ated.date-format"))</td>
        <td id="date-to-value-@index">@period.endDate.toString(Messages("ated.date-format"))</td>
        <td id="return-type-value-@index">@period.description</td>
        <td id="action-@index">
          <a href="@controllers.propertyDetails.routes.PeriodsInAndOutReliefController.deletePeriod(id, period.startDate)"
                            id="delete-period-@index" aria-label='@Messages("ated.property-details-period.periodsInRelief.delete")'>
            @Messages("ated.property-details-period.periodsInRelief.delete") <span class="screen-reader-text">@period.description @period.startDate.toString(Messages("ated.date-format"))</span>
          </a>
        </td>
      </tr>
      }
    </table>
  }

  <div class="form-group">
    <a href="@controllers.propertyDetails.routes.PeriodDatesLiableController.add(id, periodKey)"
       id="add-period-charge" aria-label='@Messages("ated.property-details-period.periodsInRelief.add-charge")' class="button button--secondary btn-margin">
      @Messages("ated.property-details-period.periodsInRelief.add-charge")
    </a>

    <a href="@controllers.propertyDetails.routes.PeriodChooseReliefController.add(id, periodKey)"
       id="add-period-in-relief" aria-label='@Messages("ated.property-details-period.periodsInRelief.add-relief")' class="button button--secondary btn-margin">
      @Messages("ated.property-details-period.periodsInRelief.add-relief")
    </a>
  </div>

  @form(action=controllers.propertyDetails.routes.PeriodsInAndOutReliefController.continue(id, periodKey)) {

   <button class="button" id="submit" type="submit">@Messages("ated.save-and-continue")</button>


  }



}
