@import models._
@(id: String, periodKey: Int, propertyDetailsForm: Form[PropertyDetailsDatesInRelief], backLink: Option[String])(implicit atedContext: AtedContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._
@import utils._

@implicitFormInstance = @{ Some(propertyDetailsForm) }

@analyticsJs = {
  var id = "@id";
  var page = document.location.pathname.replace('/' + id, '');
  ga('set', 'page', page);
}

@atedMain(title = Messages("ated.property-details-period.datesInRelief.title"),
          attorney = atedContext.user.authContext.attorney,
          analyticsAdditionalJs = Some(analyticsJs)) {

    @pageHeadersAndError(backLink, "pre-heading", Messages("ated.property-details.pre-header"), "property-details-header", Messages("ated.property-details-period.datesInRelief.header"),
    Some(atedErrorSummary(propertyDetailsForm, "ated.property-details-period.datesInRelief.general.error")))

    @form(action=controllers.propertyDetails.routes.PeriodInReliefDatesController.save(id, periodKey)) {

        <div class="form-group">
            @atedDateFieldsFree(
            formItem = propertyDetailsForm,
            fieldName = "startDate",
            label = Html(Messages("ated.property-details-period.datesInRelief.startDate")),
            isNested = false,
            defaultDateOption = None,
            '_hintText -> Messages("ated.property-details-period.datesInRelief.startDate.hint",
            PeriodUtils.periodStartDate(periodKey).toString(Messages("ated.date-format.numeric"))),
            '_groupClass -> "form-group date-of-birth",
            '_idName -> "startDate"
            )

            @atedDateFieldsFree(
            formItem = propertyDetailsForm,
            fieldName = "endDate",
            label = Html(Messages("ated.property-details-period.datesInRelief.endDate")),
            isNested = false,
            defaultDateOption = None,
            '_hintText -> Messages("ated.property-details-period.datesInRelief.endDate.hint",
            PeriodUtils.periodEndDate(periodKey).toString(Messages("ated.date-format.numeric"))),
            '_groupClass -> "form-group date-of-birth",
            '_idName -> "endDate"
            )
        </div>

        <button class="button" id="submit" type="submit">@Messages("ated.save-and-continue")</button>


    }

}
