@import models._
@(id: String, periodKey: Int, propertyDetailsForm: Form[PropertyDetailsTaxAvoidance], mode: Option[String], backLink: Option[String])(implicit atedContext: AtedContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._
@import utils._

@implicitFormInstance = @{ Some(propertyDetailsForm) }

@pageScripts = {
<script type="text/javascript" src='@controllers.routes.AssetsController.at("javascript/propertyDetailsTaxAvoidance.js")'></script>
}

@atedMain(title = Messages("ated.property-details-period.isTaxAvoidance.title"), attorney = atedContext.user.authContext.attorney, pageScripts = Some(pageScripts)) {

  @pageHeadersAndError(backLink, "pre-heading", AtedUtils.getPropertyDetailsPreHeader(mode),
      Some(atedErrorSummary(propertyDetailsForm, "ated.property-details-period-error.general")))
  <div class="form-group">
    <h1 class="heading-xlarge" id="property-details-header">
      @Messages("ated.property-details-period.isTaxAvoidance.header")
    </h1>
  </div>


  @form(action=controllers.propertyDetails.routes.PropertyDetailsTaxAvoidanceController.save(id, periodKey, mode)) {
    <div class="form-group" id="isTaxAvoidance">
      @atedInputRadioGroupNew(propertyDetailsForm("isTaxAvoidance"),
        Seq(
          "true" -> Messages("ated.property-details-period.yes"),
          "false" -> Messages("ated.property-details-period.no")),
          '_groupClass -> "inline",
          '_legend -> Messages("ated.property-details-period.isTaxAvoidance.header"),
          '_legendClass -> "visuallyhidden",
         '_labelClass -> "block-label",
         '_labelAfter -> true,
         '_trackGA -> true
        )
    </div>
    <div class="form-group">
      <div id="isTaxAvoidance-true-hidden" class="panel-indent">
        @atedInputNew(propertyDetailsForm("taxAvoidanceScheme"),
          '_label -> Html(Messages("ated.property-details-period.taxAvoidanceScheme")),
          '_labelClass -> "form-label-bold",
          '_inputClass -> "form-control-indent",
          '_id -> "taxAvoidanceScheme",
          '_showConstraints -> false)

        @atedInputNew(propertyDetailsForm("taxAvoidancePromoterReference"),
        '_label -> Html(Messages("ated.property-details-period.taxAvoidancePromoterReference")),
        '_labelClass -> "form-label-bold",
        '_inputClass -> "form-control-indent",
        '_id -> "taxAvoidancePromoterReference",
        '_showConstraints -> false)
      </div>
    </div>
    <details>
      <summary><span id="isTaxAvoidance-what-is-this" class="summary">@Messages("ated.property-details-period.isTaxAvoidance.what")</span>
      </summary>
      <div class="panel-indent">
        <span id="isTaxAvoidance-text">@Html(Messages("ated.property-details-period.isTaxAvoidance.what.text"))</span>
      </div>
    </details>

    <button class="button" id="submit" type="submit">@Messages("ated.save-and-continue")</button>


  }

}
