@import models._
@(id: String, periodKey: Int, propertyDetailsForm: Form[PropertyDetailsTitle], mode: Option[String], backLink: Option[String])(implicit atedContext: AtedContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._
@import utils._

@implicitFormInstance = @{ Some(propertyDetailsForm) }

@analyticsJs = {
  var id = "@id";
  var page = document.location.pathname.replace('/' + id, '');
  ga('set', 'page', page);
}

@atedMain(title = Messages("ated.property-details.title.title"),
          attorney = atedContext.user.authContext.attorney,
          analyticsAdditionalJs = Some(analyticsJs)) {

  @pageHeadersAndError(backLink, "pre-heading", AtedUtils.getPropertyDetailsPreHeader(mode), "property-details-header", Messages("ated.property-details.title.header"),
      Some(atedErrorSummary(propertyDetailsForm, "ated.property-details-address-error.general")))

  @form(action=controllers.propertyDetails.routes.PropertyDetailsTitleController.save(id, periodKey, mode)) {

    <p id="title-text">@Messages("ated.property-details.references")</p>

      <div id="title">
        @atedInputNew(propertyDetailsForm("titleNumber"),
          '_label -> Messages("ated.propertyReference.titleNumber"),
          '_labelClass -> "form-label-bold",
          '_hintText -> Messages("ated.propertyReference.titleNumber.hint"),
          '_id -> "references.titleNumber",
          '_showConstraints -> false)
      </div>

      <details>
        <summary>
          <span id="titleNumber-reveal" class="summary">
            @Messages("ated.property-details-titleNumber.reveal")
          </span>
        </summary>
        <div class="panel-indent">
          <p id="titleNumber-text">@Html(Messages("ated.property-details-titleNumber-reveal.text"))</p>
        </div>
      </details>


    <div class="form-group">
      <button class="button" id="submit" type="submit">@Messages("ated.save-and-continue")</button>
    </div>

    <div class="form-group">
        @atedInputNew(propertyDetailsForm("id"),
          '_label -> "id",
          '_labelClass ->  "visuallyhidden",
          '_id -> "id",
          '_type -> "hidden")
    </div>

  }

}
