@import models._
@import forms.AtedForms._
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.LocalDate
@import utils._
@import views.html.helpers._
@import views.html.helpers.error._

@(periodKey: Int, returnType: String, addressResultsForm: Form[AddressSelected], prevReturns: Seq[PreviousReturns], backLink: Option[String])(implicit atedContext: AtedContext, messages: Messages)

@analyticsJs = {
  ga('set', 'page', document.location.pathname);
  ga('set', 'location', document.URL.split("?")[0]);
}

@atedMain(title = Messages("ated.select-past-return.title"),
          attorney = atedContext.user.authContext.attorney,
          analyticsAdditionalJs = Some(analyticsJs)) {

@pageHeadersAndError(backLink, "pre-header", Messages("ated.return-type.pre-header"), "header", Messages("ated.select-past-return.header"),
    Some(atedErrorSummary(addressResultsForm, "ated.select-past-return.general")))

    @if(!prevReturns.isEmpty) {
      @form(action=controllers.propertyDetails.routes.SelectExistingReturnAddressController.continue(periodKey, returnType)) {
        @atedInputRadioGroupNew(addressResultsForm("selected"),
          prevReturns map (result => result.formBundleNumber -> result.address),
          '_legend -> Messages("ated.select-past-return.header"),
          '_legendClass -> "visuallyhidden",
          '_labelClass -> "block-label",
          '_labelAfter -> true,
          '_trackGA -> true
        )

      <button class="button margin-top-default" id="submit" type="submit">@Messages("ated.save-and-continue")</button>
    }

  }
}
