
.tick{
  position:inherit;
  padding-right:10px;
  left:590px;
  top:230px;
 }

#banner h1 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
}

.greenBanner {
    background-color:#28a197;
    color:white;
    text-align:center;
    padding:10px;
    padding-bottom:20px;
    width:100%;
}



.summaryReturnBanner {
    background-color:#28a197;
    min-height: 10px;
    overflow:hidden;
    color:white;
    text-align:center;
    min-width:100%;
    padding:10px;
    box-sizing:border-box;
}

.form-control.avoidanceSchemeInp {
    width:100%;
    box-sizing: border-box;
}

form .grid-1-3 .form-field {
    width: auto;
    margin-bottom: 0.2em;
}

.logged-out-page textarea {
  width: 100%;
  padding: 0px;
  background-color: white;
  border: 1px solid #bfc1c3;
}
.logged-out-page legend, .logged-out-page #howCanWeImprove_field label {
  font-size: 24px;
  font-weight: bold;
}

.warning-weight{
    font-weight: 600;
    margin-left:50px;
}

.importantIcon {
    float:left;
    width:35px;
    height:35px;
    margin-top:0%;
    margin-bottom:0%;
}

.importantIconReviewAgent {
    float:left;
    width:38px;
    height:38px;
    margin-top:80px;
    margin-bottom:5%;
}

.confirmation-notice {
}

.icon-important {
    background-repeat: no-repeat;
    float: left;
    height: 38px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 0px;
    width: 36px;
}

.userName {
    margin-top: 1.5%;
    font-weight: 400;
    display: block;
    color: #6f777b;
    float:right;
}

.heading-xlarge {
    margin-bottom: 0.8em;
    margin-top:0em;
}

.heading-medium {
    margin-top: 1em;
}

.heading-sub {
    margin-top:20px;
    font-size: 27px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    display: block;
    color: #6f777b;
    margin-bottom: 0.42105em;
}

.heading-sub-no-margin {
    font-size: 27px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    display: block;
    color: #6f777b;
    margin-bottom: 0.42105em;
}

/* tabs */
.ated-tabs {
    position: relative;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

.ated-tabs a {
    text-decoration: none;
    color: #005EA5;
}

.ated-tabs:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
}

.ated-tabs li {
    position: relative;
    margin: 0 2px;
    padding: 20px;
    border: 1px solid #FFF;
    display: inline-block;
    z-index: 0;
}

.ated-tabs li:hover {
    background: #ECECEC;
}

.ated-tabs li.selected {
    z-index: 2;
    background: #FFF;
    color: #005ea5;
    border-color: #AAA;
    border: 1px solid #AAA;
    border-bottom-color: #FFF

}

.content__body{
    width: 66.6666666667%;
}

/*-----------------------*/
/*---aside---*/
/*-----------------------*/

.related {
    box-sizing: border-box;
    margin-top: 5px;
    padding: 0 0 0 30px;
    padding-top:5px;
    float:right;
    width:33.3333333333%;
}

@media screen and (max-width: 640px) {

    .related {
        float:None;
        width:100%;
        padding: 0;
    }

    .content__body {
        width:100%;
    }
}


fieldset legend{
    float:none;
}

.balance-display{
  margin-bottom:4px;
  margin-top:4px;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

.td-top {
    vertical-align: top;
}

.td-right {
    text-align: right;
}


.td-bottom {
    vertical-align: bottom;
}

.td-height {
    padding-top:40px;
    vertical-align:top;
}

.td-summary-width {
    width: 24%;
}

.ated-banner {
    width: 100%;
    height:40px;
    background-color: #cceeff;
    border-left: 4px solid #005580;
    line-height:40px;
    padding-left:10px;
    padding-right:0px;
    margin-bottom:20px;

}

.field-1-4 {
    width: 25%;
}

.error {
    border: 5px solid #b10e1e;
    margin-left:2px;
}

.view-edit-btn.button  {
    font-size:1em;
    width:90px;
    text-align:center;
}

.view-change-btn.button {
    font-size:1em;
    width:130px;
    text-align:center;
}

.btn-margin {
    margin-bottom:20px;
}

.text-bold {
  font-weight: bold;
}

.touchevents .date-of-birth {
    display: block;
}

.blue-line {
    border-top: 10px solid #005ea5;
}

.link-back {
    display: -moz-inline-stack;
    display: inline-block;
    position: relative;
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.1428571429;
    font-weight: 400;
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 14px;
    color: #0b0c0c;
    text-decoration: none;
    border-bottom: 1px solid #0b0c0c;
}

.link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
    color: #0b0c0c;
}

.link-back {
    font-size: 16px;
    line-height: 1.25;
}

.link-back:link,
.link-back:visited,
.link-back:hover,
.link-back:active {
  color: #0b0c0c;
}

.link-back::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 6px solid #0b0c0c;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

.date-form-group {
    clear: none;
    float: left;
    margin-right: 20px;
    width: 50px;
    margin-bottom:0px;
}

.reference-group {
    margin-bottom: 0.75em;
    margin-top: 0.75em;
}

.date-legend {
    margin-bottom:0px;
}

.supporting-info {
    width: 100%;
    height: 100px;
}

.feedback-summaryInfo {
    width: 100%;
    height: 50px;
}

.feedback-moreInfo {
    width: 100%;
    height: 140px;
}

.ated-table-padding-top {
  padding-top:40px;
}

table.ated-table-wrap {
    word-wrap: break-word;
    table-layout: fixed;
}

td.ated-two-thirds {
    width:66%;
}

td.ated-period {
    width:60px;
}

.ated-icon-important-text {
    width:82%;
    float:left;
}

.tdRight {
    text-align:right;
}

.block-label {
    padding-left: 54px;
}

.form-control {
    border: 2px solid #6f777b;
}

.form-control.error {
    border: 5px solid #b10e1e;
    margin-left:2px;
}

li.inactive {
  background-color: #AEB3B7;
}

.panel-border-wide {
    border-left-width: 10px;
}

.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   height: 1px;
   width: 1px;
   overflow: hidden;
   position: absolute !important;
}

/* errors */
.validation-summary h1 {
    margin-top: 10px;
}

.validation-summary {
    border: 5px solid #b10e1e;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px 15px 15px;
}

.validation-summary-message a, .validation-message a, p.field-error {
    color: #b10e1e;
    font-weight: 700;
    font-size: 19px;
}

.form-field--error .form-control {
    border: 4px solid #b10e1e;
}

.form-control.error {
  border: 5px solid #b10e1e;
  margin-left:2px;
}

.form-field--error .error-notification {
    font-weight: 700;
    
}


.validation-summary:focus {
    outline: 3px solid #ffbf47;
}

.form-field--error .error-notification {
   font-size: 19px;
    color: #b10e1e;
}


@media (min-width: 641px)
{
    .ated-date-width
    {
        width:100%;
    }
}


@media screen and (min-width: 480px) {
    input[type=number] {
    -moz-appearance: textfield;
    }

    ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    }

    ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    }
}

@media screen and (max-width: 320px) {

    .td-summary-width {
        padding:5px;
        font-size:0.7em
    }
}


/* Timeout Modal */


@media (max-width: 640px){
  .timeout-dialog {
    width: 280px !important;
  }
}

.form-label-bold {
    font-size: 19px;
    line-height: 1.3157894737;
}

.timeout-dialog  ~ .ui-widget-overlay {

  top: 0;
  left: 0;
  background-color: #000;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;

  position: fixed;
  width: 100%;
  height: 100%;
}

.ui-front {
    z-index: 100;
}

html.noScroll {
  overflow: hidden;
}

.timeout-dialog {
  position: absolute;
  padding: 40px 30px 40px 30px;
  border: 1px solid #0b0c0c;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.ui-dialog-titlebar-close{
  display: none;
}

.timeout-dialog .ui-dialog-title {
  display: block;
  margin-bottom: 1em;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
}

.timeout-dialog .button{
  margin-bottom: 1em;
}

.timeout-dialog .button.button--link{
  margin: 0;
  padding: 0;
}

.timeout-dialog p {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    margin: .63158em 0;
}

/* Modal Styles */

.md-modal-heading {
    padding: 0;
    padding-bottom: 5px;
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
}

.md-modal-cancel {
    display: inline-block;
    margin-top: 15px;
    text-decoration: underline;
}

.ated-postcode-result {
   float:left;
   min-width:10px;
   margin-right:16px;
}

table td {
    font-size: 100%;
}

table th {
    vertical-align: top;
    font-size: 100%;
}


.form-control-indent {
    max-width:70%;
}

.status {
    border: 1px solid #df3034;
    border-radius: 3px;
    display: block;
    font-size: 0.7em;
    font-weight: 700;
    padding: 2px 20px;
    position: relative;
    text-align: center;
    width: 85px;
    margin-right: 20px;
    color: #df3034;
    background-color: white;
}

@media screen and (max-width: 640px) {
    .form-control-indent {
        max-width:100%;
    }
}

/* check your answers */
.row-border {
    border-bottom: 1px solid #bfc1c3;
    padding: 0.6em 0em 0.5em 0em;
}

.cya-change, .cya-question, .cya-answer {
    padding: 0.3em 1em 0.3em 0em;
    box-sizing:border-box;
}

.cya-header-ans {
    padding-top: 1em;
    box-sizing:border-box;
}

.cya-header-change {
    padding: 1em 1em 0em 0em;
    box-sizing:border-box;
}

@media (min-width: 641px) {
    .cya-change {
        text-align: right;
    }

    .cya-header-ans {
        text-align: left;
    }

    .cya-header-change {
        text-align: right;
    }

    .grid-wrapper {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.bta-link {
    margin-top:20px;
    display:inline-block;
    float: left;
}

/*Create additional grid unit*/

.grid-1-6 {
    width: 16.666667%;
}

.grid-2-6 {
    width: 33.333334%;
}

.grid-1-5 {
    width: 20%;
}

.grid-2-5 {
    width: 40%;
}

@media screen and (max-width: 640px) {
    .grid-1-6, .grid-2-6 {
        width:100%;
    }
}

/*period-summary page*/
.row-border {
    border-bottom: 1px solid #bfc1c3;
    padding: 0.6em 0em 0.5em 0em;
}
.psp-return, .psp-action, .psp-status  {
    padding: 0.3em 1em 0.3em 0em;
    box-sizing:border-box;

}

@media (min-width: 641px) {
    .psp-action {
        text-align: left;

    }
    .grid-wrapper {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/*  -- new page headers -- */

.page-header {
  clear: both;
  display: table;
}

.page-header-margin {
    margin-top:1.5em
}

.page-header .heading-xlarge {
  margin: .15em 0 0.8em;
}

.page-header .heading-secondary {
  color: #6f777b;
  display: table-header-group;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.11111;
  margin-bottom: 0;
  text-transform: none;
}

@media screen and (min-width: 641px) {
  .page-header .heading-secondary {
    font-size: 27px;
    line-height: 1.11111;
    padding-bottom: 6px;
    padding-top: 4px;
  }
}

.ated-line-height {
    line-height: 0.5em;
}

#tab-past-returns:focus, #current-returns-tab:focus {
    outline: 0px solid transparent;
}

.uppercase {
   text-transform: uppercase;
}

/*  -- Vertical Spacing - https://v4-alpha.getbootstrap.com/utilities/spacing/ -- */

.margin-bottom-default {
  margin-bottom: 30px;
}

.relief-type {
  margin-bottom: 30px;
}