.tabbed {

}

.noJsHide {
    display: none !important;
}

.tabbed [role="tablist"] {
    margin: 0;
}

.tabbed [role="tablist"] li, [role="tablist"] a {
    display: inline-block;
}

.tabbed [role="tablist"] a:focus {
    background-color: #fd0;
    outline: 3px solid transparent;
    box-shadow: 0 0 #fd0, 0 4px #0b0c0c;
}

@media (max-width: 550px) {

    .tabbed [role="tablist"] li, [role="tablist"] a {
        display: block;
        position: static;
    }

    .tabbed [role="tablist"] a {
        border: 2px solid #222 !important;
    }

    .tabbed [role="tablist"] li + li a {
        border-top: 0 !important;
    }

    .tabbed [role="tablist"] [aria-selected] {
        position: static;
    }

    .tabbed [role="tablist"] [aria-selected]::after {
        content: '\0020⬅';
    }

    .tabbed [role="tabpanel"] {
        border-top: 0;
    }
}