.banner-panel {
    display: none;
}
.banner-panel--show {
    display: block;
}
.banner-panel__container {
    background-color: #005ea5;
    padding: 20px .78947em;
}
.banner-panel a, .banner-panel a:visited {
    color: #fff;
}
.banner-panel__close {
    font-size: 14px;
    float: right;
}

@media (min-width: 641px) {
    .banner-panel__container {
        padding: 20px 30px 10px;
    }
}