@(questionnaireForm: Form[models.Questionnaire])(implicit request : Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._

@atedNoAuthMain(title = Messages("label.signed_out"), userLoggedIn = false, supportLinkEnabled = false) {

  <div class="grid-row logged-out-page">

    <h1 class="heading-xlarge" id="heading">@Messages("label.youre_signed_out")</h1>
    <p id="signed-out-text">@Messages("label.youre_now_signed_out_of_your_ated_account")</p>
    <hr class="ated-hr" />
    <h2 class="heading-medium" id="satisfaction-survey-heading">@Messages("label.satisfaction_survey")</h2>

    @helpers.form(action = controllers.routes.QuestionnaireController.submitQuestionnaire, 'class -> "satisfactionSurveyForm") {
      @inputRadioGroup(questionnaireForm("easyToUse"),
        Seq(
          "4" -> Messages("label.very_easy"),
          "3" -> Messages("label.easy"),
          "2" -> Messages("label.neither_easy_or_difficult"),
          "1" -> Messages("label.difficult"),
          "0" -> Messages("label.very_difficult")
        ),
        '_legend -> Messages("label.how_easy_was_the_service_to_use"),
        '_labelAfter -> true,
        '_fieldsetAttributes -> "id=easyToUseFieldset"
      )

      @inputRadioGroup(questionnaireForm("satisfactionLevel"),
        Seq(
          "4" -> Messages("label.very_satisfied"),
          "3" -> Messages("title.satisfied"),
          "2" -> Messages("label.neither_satisfied_or_dissatisfied"),
          "1" -> Messages("title.dissatisfied"),
          "0" -> Messages("label.very_dissatisfied")
        ),
        '_legend -> Messages("label.how_satisfied_were_you_with_the_service"),
        '_labelAfter -> true
      )

      @helper.textarea(questionnaireForm("howCanWeImprove"),
        args = 'rows -> 3,
        '_help -> Messages("label.limit_is_1200_characters"),
        '_label -> Messages("label.what_else_would_you_like_to_see_in_the_service"),
        'maxlength -> 1200
      )

      <p id="dont-include-text">@Messages("label.please_dont_include_any_personal_or_financial_information")</p>
      <button id="submit" type="submit" class="button">@Messages("label.send_feedback")</button>

    }

  </div>

}
