@(formItem:Form[_], fieldName: String, label: Html, isNested: Boolean, defaultDateOption: Option[org.joda.time.LocalDate], args: (Symbol,Any)*)(implicit messages: Messages, formInstance: Option[Form[_]] = None)
@import uk.gov.hmrc.play.validators._
@import play.api.i18n._
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.mappers.DateFormatSymbols._
@import uk.gov.hmrc.play.mappers.DateFields._
@import views.html.helper._
@import views.helpers._

@elements = @{FieldElements(formItem(fieldName).id, formItem(fieldName), Html(""), args.toMap, messages)}
@field = @{formItem(fieldName)}
@parentField = @{args.toMap.get('parentField).asInstanceOf[Option[Field]]}
@errors = @{ FormHelpers.getErrors(field, parentField) }


@if(errors.nonEmpty) {
  <div class="form-field--error">
}

  <fieldset id="@elements.args.get('_idName)"
    class="validate touch @elements.args.get('_groupClass) "
    data-validation-name="dateOfBirthDate"
    data-validation-type="fieldset"
    data-validation-rules="allNonEmpty"
    data-validation-children="day month year"
  >

    <legend id="@elements.args.get('_idName)_legend" class="form-label-bold ">@label

      @if(elements.args.get('_hintText).isDefined) {
      <div class="form-hint" id="@if( elements.args.get('_idName) ) {@elements.args.get('_idName)_hint} else {@(fieldName)_hint}">
        @elements.args.get('_hintText)
      </div>
      }

    </legend>

    @if(elements.args.get('_fieldsetQuestion).isDefined) {
      <details role="group">
        <summary role="button" aria-controls="details-content-0" tabindex="0">
          <span class="summary" id="@if(elements.args.get('_fieldsetAttributesHelpQuestion).isDefined) {@elements.args.get('_fieldsetAttributesHelpQuestion)}">
            @elements.args.get('_fieldsetQuestion)
          </span>
        </summary>
        <div id="details-content-0">
          <span id="@if(elements.args.get('_fieldsetAttributesHelpQuestion).isDefined) {@elements.args.get('_fieldsetAttributesHelpQuestion)}Answer">
            @if(elements.args.get('_HelpQuestionAnswer).isDefined) {@elements.args.get('_HelpQuestionAnswer)}
          </span>
        </div>
      </details>
    }

    @commonHelper(field,errors)

    <div>
      @isOptional = {@if(elements.args.contains('_isRequired)) @{ if(elements.args.get('_isRequired).get == true) {true} else {false}} else {false}}

      @dayElem = @{fieldName + "." + day}

      @dateInput(
      formItem(dayElem),
      '_label -> Messages("date.fields.day"),
      '_inputClass -> "text day validate ated-date-width form-control",
      '_divClass -> "date-form-group day inline-fields",
      '_emptyValueText -> defaultDateOption.map(_.getDayOfMonth.toString).getOrElse(""),
      '_type -> "number",
      '_validationName -> "day",
      '_dataAttributes -> "min=1 max=31 pattern=[0-9]*"
      )

      @monthElem = @{fieldName + "." + month}

      @dateInput(
      formItem(monthElem),
      '_label -> Messages("date.fields.month"),
      '_inputClass -> "text month validate ated-date-width form-control",
      '_divClass -> "date-form-group month inline-fields",
      '_emptyValueText -> defaultDateOption.map(_.getMonthOfYear.toString).getOrElse(""),
      '_type -> "number",
      '_validationName -> "month",
      '_dataAttributes -> "min=1 max=12 pattern=[0-9]*"
      )

      @yearElem = @{fieldName + "." + year}

      @dateInput(
      formItem(yearElem),
      '_label -> Messages("date.fields.year"),
      '_inputClass -> "text year validate ated-date-width form-control",
      '_divClass -> "date-form-group year form-group-year inline-fields",
      '_emptyValueText -> defaultDateOption.map(_.getYear.toString).getOrElse(""),
      '_type -> "number",
      '_validationName -> "year",
      '_dataAttributes -> "min=1700 pattern=[0-9]*"
      )
      <div class="clearfix"></div>
    </div>

  </fieldset>

@if(errors.nonEmpty) {
  </div>
}
