@(field: Field, args: (Symbol,Any)*)(implicit messages: Messages, formInstance: Option[Form[_]] = None)

@import play.api.i18n._
@import views.html.helper._
@import views.helpers._

@elements = @{FieldElements(field.id, field, Html(""), args.toMap, messages)}
@parentField = @{args.toMap.get('parentField).asInstanceOf[Option[Field]]}
@errors = @{ FormHelpers.getErrors(field, parentField) }
@parentElements = @{parentField.map(pf => FieldElements(pf.id, pf, Html(""), Map(), messages) )}
@value = @{ field.value match { case Some(x) => x case None => "" case x => x }}
@labelAfter = @{ elements.args.getOrElse('_labelAfter, false).asInstanceOf[Boolean] }
@labelHighlight = @{ elements.args.getOrElse('_labelHighlight, false).asInstanceOf[Boolean] }

<div class="form-field">
    @if(errors.nonEmpty) {
    <div class="@if(errors.nonEmpty|| (parentElements.isDefined && parentElements.get.hasErrors)) {form-field--error}">
        }
        <label for="@if( elements.args.get('_id) ) {@elements.args.get('_id)} else {@elements.field.name.replaceAll("""[\.\[\]]""", "-")}" class="@elements.args.get('_divClass) @if( elements.args.get('_labelClass) ){ @elements.args.get('_labelClass) }" @if(elements.args.contains('_labelDataAttributes)){@elements.args.get('_labelDataAttributes)} id="@if( elements.args.get('_id) ) {@elements.args.get('_id)_field} else {@elements.field.name.replaceAll("""[\.\[\]]""", "-")_field}">


        @if(labelHighlight) {<strong>}
        @if(elements.args.contains('_label)) {@elements.label}
        @if(labelHighlight) {</strong>}

        @if(elements.args.get('_fieldsetQuestion).isDefined) {
        <details role="group">
            <summary role="button" aria-controls="details-content-0" tabindex="0">
                <span class="summary" id="@if(elements.args.get('_fieldsetAttributesHelpQuestion).isDefined) {@elements.args.get('_fieldsetAttributesHelpQuestion)}">@elements.args.get('_fieldsetQuestion)</span>
            </summary>
            <div id="details-content-0" class="panel-indent">
                <span id="@if(elements.args.get('_fieldsetAttributesHelpQuestion).isDefined) {@elements.args.get('_fieldsetAttributesHelpQuestion)}Answer">@if(elements.args.get('_HelpQuestionAnswer).isDefined) {@elements.args.get('_HelpQuestionAnswer)}</span>
            </div>
        </details>
        }

        @if(elements.args.contains('_hintText)) {
            <span class="form-hint" id="@if( elements.args.get('_id) ) {@elements.args.get('_id)_hint} else {@elements.field.name.replaceAll("""[\.\[\]]""", "-")_hint}">
                @elements.args.get('_hintText)
            </span>
        }

        </label>


        @commonHelper(field,errors)
        @if(elements.args.contains('_symbol)) { <span class="inline-fields">@elements.args.get('_symbol)</span> }

        <input @if(elements.args.contains('_type)){type="@elements.args.get('_type)"}else{type="text"}
        class="form-control @if(errors.nonEmpty){error } @if( elements.args.get('_inputClass) ){ @elements.args.get('_inputClass) }"
        @if(elements.args.contains('_dataAttributes) ){ @elements.args.get('_dataAttributes)}
        name="@elements.field.name"
        id="@if( elements.args.get('_id) ) {@elements.args.get('_id)} else {@elements.field.name.replaceAll("""[\.\[\]]""", "-")}"
        value="@value"
        @if(elements.args.contains('_maxLength)){ maxlength="@elements.args.get('_maxLength)"}
        @if(elements.args.contains('_size)) { size = "@elements.args.get('_size)"}
        />
        @if(elements.args.contains('_nested)) {
        @elements.args.get('_nested)
        }

        @if(errors.nonEmpty) {
    </div>
    }
</div>
