@(submittedReturnResponse: Option[EditLiabilityReturnsResponseModel], returnType: String, organisationName: Option[String], paymentReference: Option[String], amountDueOrRefund: BigDecimal, liabilityAmount : BigDecimal)(implicit atedContext: AtedContext, messages: Messages)

@import utils.AtedUtils._
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.LocalDate
@import utils._

@import models._
@import uk.gov.hmrc.play.views.html._
@import utils._
@import views.html.helpers._
@import views.html.helpers.error._

@today = {
    @DateTimeFormat.forPattern("d MMMM yyyy").print(new LocalDate())
}

@printFriendly(Messages("ated.relief-sent.title")) {

<script src='@controllers.routes.AssetsController.at("javascript/printFriendly.js")'></script>

<h1 id="header">@Messages("ated.edit-liability.sent.header.dispose", today)
</h1>

<p id="view-message">@Messages("ated.edit-liabilty.sent.view-message")</p>
<p id="email-message">@Messages("ated.edit-liabilty.sent.receipt-message")</p>

<hr>

<h2 id="charges-heading">@Messages("ated.edit-liabilty.sent.charges-heading")</h2>

<p id="new-amount">@Messages("ated.edit-liabilty.sent.new-amount")</p>

<h3 id="already-paid-title" class="text-bold">@Messages("ated.edit.liability.sent.amount-already-paid.title")</h3>

<p id="owe-you">@Html(Messages("ated.edit.liability.sent.owe-you", formattedPounds(amountDueOrRefund.abs)))</p>
<p id="repayments">@Messages("ated.edit.liability.sent.repayments")</p>

<h3 id="not-paid-title" class="text-bold">@Messages("ated.edit.liability.sent.amount-not-paid.title")</h3>

<p id="you-owe">@Html(Messages("ated.edit.liability.sent.you-owe", formattedPounds(liabilityAmount)))</p>
<p id="payment-reference">@Html(Messages("ated.edit-liabilty.sent.payment-reference", paymentReference.getOrElse("")))</p>

<p id="liable-for">@Html(Messages("ated.edit.liability.sent.liable-for-pf"))</p>

<p id="view-balance">@Html(Messages("ated.edit-liabilty.sent.view-balance"))</p>

}