@(disposeLiability: models.DisposeLiabilityReturn, organisationName: Option[String])(implicit atedContext: AtedContext, messages: Messages)

@import views.html.helpers._
@import utils.PeriodUtils._

@printFriendly(Messages("ated.property-details-summary.title")) {

<script src='@controllers.routes.AssetsController.at("javascript/printFriendly.js")'></script>

  <p id="dispose-liability-ated-ref" class="font-xsmall">@Messages("ated.refNo", atedContext.user.atedReferenceNumber)</p>

  <h1 class="heading-xlarge" id="edit-liability-summary-header">
    @Messages("ated.dispose-property.summary.print.header", organisationName.getOrElse(""))
  </h1>

  <p class="paragraph" id="details-text">@Messages("ated.property-details-summary.details-text", periodStartDate(disposeLiability.formBundleReturn.periodKey.toInt).toString(Messages("ated.date-format")), periodEndDate(disposeLiability.formBundleReturn.periodKey.toInt).toString(Messages("ated.date-format")))</p>

  <table id="property-summary" class="ated-table-wrap">
    <tr>
      <td class="heading-medium ated-two-thirds td-height" id="edit-liability-header">@Messages("ated.property-details-summary.table.property-details.header")</td>
      <td></td>
    </tr>
    <tr>
      <td id="property-address-label"  class="heading-small td-top">@Messages("ated.property-details-summary.table.property-details.address.label")</td>
      <td id="property-address-value"  class="td-top"><span id="address-line-1">@disposeLiability.formBundleReturn.propertyDetails.address.addressLine1</span>,<br/><span id="address-line-2">@disposeLiability.formBundleReturn.propertyDetails.address.addressLine2</span>@if(disposeLiability.formBundleReturn.propertyDetails.address.postalCode.isDefined){,<br/><span id="address-postcode">@disposeLiability.formBundleReturn.propertyDetails.address.postalCode</span>}</td>
    </tr>
    <tr>
      <td id="property-title-disposal-date-label" class="heading-small">@Messages("ated.dispose-property.summary.disposal-date-label")</td>
      <td id="property-title-disposal-date">@disposeLiability.disposeLiability.flatMap(x => x.dateOfDisposal.map(y => y.toString(Messages("ated.date-format"))))</td>
    </tr>

    @if(disposeLiability.bankDetails.map(_.hasBankDetails) == Some(true)){
    <tr>
      <td class="heading-medium td-height" id="bank-details-header">@Messages("ated.edit-liability.summary.bank-details.header")</td>
      <td class="td-height">
      </td>
    </tr>
    <tr>
      <td id="account-holder-name-label" class="heading-small">@Messages("ated.edit-liability.summary.bank-details.account-holder-name")</td>
      <td id="account-holder-name-value">@disposeLiability.bankDetails.flatMap(_.bankDetails.map(_.accountName))</td>
    </tr>
      @if(disposeLiability.bankDetails.flatMap(_.bankDetails.flatMap(_.hasUKBankAccount)) == Some(true)){
    <tr>
      <td id="account-number-label" class="heading-small">@Messages("ated.edit-liability.summary.bank-details.account-number")</td>
      <td id="account-number-value">@disposeLiability.bankDetails.flatMap(_.bankDetails.map(_.accountNumber))</td>
    </tr>
    <tr>
      <td id="sort-code-label" class="heading-small">@Messages("ated.edit-liability.summary.bank-details.sort-code")</td>
      <td id="sort-code-value">@disposeLiability.bankDetails.flatMap(_.bankDetails.map(_.sortCode))</td>
    </tr>
      }else {
    <tr>
      <td id="account-number-label" class="heading-small">@Messages("ated.edit-liability.summary.bank-details.iban")</td>
      <td id="account-number-value">@disposeLiability.bankDetails.flatMap(_.bankDetails.map(_.iban))</td>
    </tr>
    <tr>
      <td id="sort-code-label"class="heading-small">@Messages("ated.edit-liability.summary.bank-details.bic-swift-code")</td>
      <td id="sort-code-value">@disposeLiability.bankDetails.flatMap(_.bankDetails.map(_.bicSwiftCode))</td>
    </tr>
      }
    }
    <tr>
      <td class="heading-medium td-height" id="return-status-header">@Messages("ated.edit-liability.summary.bank-details.return-status.header")</td>
      <td class="td-height"></td>
    </tr>
    <tr>
      <td id="return-status-label">@Messages("ated.edit-liability.summary.bank-details.return-status.label")</td>
      <td id="return-status-value">@Messages("ated.property-details-summary.status.text")</td>
    </tr>
  </table>

  <p id="ated-charge-text">
    @Messages("ated.property-details-summary.table.ated-charge.text")
  </p>

  <p id="ated-charge-value" class="heading-xlarge">
    @disposeLiability.calculated.map(x => formattedPounds(x.liabilityAmount))
  </p>

  <div class="sign-labels">Sign here</div>
  <div class="sign-labels">Print name</div>
  <div class="sign-labels">Date</div>

  <div class="form-group">
    <div class="sign-box"></div>
    <div class="sign-box"></div>
    <div class="sign-box"></div>
  </div>


}
