@(disposeLiability: models.DisposeLiabilityReturn, backLink: Option[String])(implicit atedContext: AtedContext, messages: Messages)

@import uk.gov.hmrc.play.views.html.helpers._
@import utils.PeriodUtils._
@import views.html.helpers._

@incomplete = {@Messages("ated.label.incomplete")}

@atedMain(title = Messages("ated.property-details-summary.title"), attorney = atedContext.user.authContext.attorney) {

  @pageHeadersAndError(backLink, "pre-heading", Messages("ated.property-details.pre-header-dispose"))
    <h1 class="heading-xlarge" id="edit-liability-summary-header">
      @Messages("ated.property-details-summary.header")
    </h1>

  <div class="form-group">
    <span class="paragraph" id="details-text">@Messages("ated.property-details-summary.details-text", periodStartDate(disposeLiability.formBundleReturn.periodKey.toInt).toString(Messages("ated.date-format")), periodEndDate(disposeLiability.formBundleReturn.periodKey.toInt).toString(Messages("ated.date-format")))</span>
  </div>

  <table id="property-summary" class="ated-table-wrap">
    <tr>
      <td colspan="3" class="heading-small ated-two-thirds" id="edit-liability-header">@Messages("ated.property-details-summary.table.property-details.header")</td>
    </tr>
    <tr>
      <td id="property-address-label" class="td-top">@Messages("ated.property-details-summary.table.property-details.address.label")</td>
      <td id="property-address-value"><span id="address-line-1">@disposeLiability.formBundleReturn.propertyDetails.address.addressLine1</span>,<br/><span id="address-line-2">@disposeLiability.formBundleReturn.propertyDetails.address.addressLine2</span>@if(disposeLiability.formBundleReturn.propertyDetails.address.postalCode.isDefined){,<br/><span id="address-postcode">@disposeLiability.formBundleReturn.propertyDetails.address.postalCode</span>}</td>
      <td class="ated-two-thirds"></td>
    </tr>
    <tr>
      <td id="property-title-disposal-date-label">@Messages("ated.dispose-property.summary.disposal-date-label")</td>
      <td id="property-title-disposal-date">@disposeLiability.disposeLiability.flatMap(x => x.dateOfDisposal.map(y => y.toString(Messages("ated.date-format"))))</td>
      <td class="td-top">
        <a href="@controllers.editLiability.routes.DisposePropertyController.editFromSummary(disposeLiability.id.toString)" id="edit-property-disposal-date" aria-label='@Messages("ated.dispose-property.summary.edit-disposal-date-link.title")' data-journey-click="ated-frontend:click:edit-property-disposal-date">
          @Messages("ated.edit")
        </a>
      </td>
    </tr>

    @if(disposeLiability.bankDetails.map(_.hasBankDetails) == Some(true)){
      <tr>
        <td colspan="3" class="heading-small" id="bank-details-header">@Messages("ated.edit-liability.summary.bank-details.header")</td>
      </tr>
      @if(!disposeLiability.bankDetails.flatMap(_.bankDetails).isDefined) {
    <tr>
      <td id="type-of-account-label">@Messages("ated.edit-liability.summary.bank-details.type-of-account")</td>
      <td id="type-of-account-value" class="status"><span class="incomplete">@incomplete</span></td>
      <td class="td-top">
        <a href="@controllers.editLiability.routes.DisposeLiabilityBankDetailsController.editFromSummary(disposeLiability.id.toString)" id="edit-bank-details" aria-label='@Messages("ated.edit-liability.summary.bank-details.edit-link.title")' data-journey-click="ated-frontend:click:edit-bank-details"> @Messages("ated.edit")
        </a>
      </td>
    </tr>
      } else {
      @if(disposeLiability.bankDetails.flatMap(_.bankDetails.flatMap(_.hasUKBankAccount)) == Some(true)){
      <tr>
        <td id="type-of-account-label">@Messages("ated.edit-liability.summary.bank-details.type-of-account")</td>
        <td id="type-of-account-label-value" class="td-top">@Messages("ated.label-bank-account-type.uk")</td>
        <td class="td-top">
          <a href="@controllers.editLiability.routes.DisposeLiabilityBankDetailsController.editFromSummary(disposeLiability.id.toString)" id="edit-bank-details" aria-label='@Messages("ated.edit-liability.summary.bank-details.edit-link.title")' data-journey-click="ated-frontend:click:edit-bank-details"> @Messages("ated.edit")
          </a>
        </td>
      </tr>
      <tr>
        <td id="account-holder-name-label">@Messages("ated.edit-liability.summary.bank-details.account-holder-name")</td>
        <td id="account-holder-name-value">@disposeLiability.bankDetails.flatMap(_.bankDetails.map(_.accountName))</td>
        <td class="td-top">
          <a href="@controllers.editLiability.routes.DisposeLiabilityBankDetailsController.editFromSummary(disposeLiability.id.toString)" id="edit-bank-details" aria-label='@Messages("ated.edit-liability.summary.bank-details.edit-link.title")' data-journey-click="ated-frontend:click:edit-bank-details"> @Messages("ated.edit")
          </a>
        </td>
      </tr>
      <tr>
        <td id="account-number-label">@Messages("ated.edit-liability.summary.bank-details.account-number")</td>
        <td id="account-number-value">@disposeLiability.bankDetails.flatMap(_.bankDetails.map(_.accountNumber))</td>
        <td class="td-top">
          <a href="@controllers.editLiability.routes.DisposeLiabilityBankDetailsController.editFromSummary(disposeLiability.id.toString)" id="edit-bank-details" aria-label='@Messages("ated.edit-liability.summary.bank-details.edit-link.title")' data-journey-click="ated-frontend:click:edit-bank-details"> @Messages("ated.edit")
          </a>
        </td>
      </tr>
      <tr>
        <td id="sort-code-label">@Messages("ated.edit-liability.summary.bank-details.sort-code")</td>
        <td id="sort-code-value">@disposeLiability.bankDetails.flatMap(_.bankDetails.map(_.sortCode))</td>
        <td class="td-top">
          <a href="@controllers.editLiability.routes.DisposeLiabilityBankDetailsController.editFromSummary(disposeLiability.id.toString)" id="edit-bank-details" aria-label='@Messages("ated.edit-liability.summary.bank-details.edit-link.title")' data-journey-click="ated-frontend:click:edit-bank-details"> @Messages("ated.edit")
          </a>
        </td>
      </tr>
      }else {
      <tr>
        <td id="type-of-account-label">@Messages("ated.edit-liability.summary.bank-details.type-of-account")</td>
        <td id="type-of-account-label-value" class="td-top">@Messages("ated.label-bank-account-type.overseas")</td>
        <td class="td-top">
          <a href="@controllers.editLiability.routes.DisposeLiabilityBankDetailsController.editFromSummary(disposeLiability.id.toString)" id="edit-bank-details" aria-label='@Messages("ated.edit-liability.summary.bank-details.edit-link.title")' data-journey-click="ated-frontend:click:edit-bank-details"> @Messages("ated.edit")
          </a>
        </td>
      </tr>
      <tr>
        <td id="account-holder-name-label">@Messages("ated.edit-liability.summary.bank-details.account-holder-name")</td>
        <td id="account-holder-name-value">@disposeLiability.bankDetails.flatMap(_.bankDetails.map(_.accountName))</td>
        <td class="td-top">
          <a href="@controllers.editLiability.routes.DisposeLiabilityBankDetailsController.editFromSummary(disposeLiability.id.toString)" id="edit-bank-details" aria-label='@Messages("ated.edit-liability.summary.bank-details.edit-link.title")' data-journey-click="ated-frontend:click:edit-bank-details"> @Messages("ated.edit")
          </a>
        </td>
      </tr>
      <tr>
        <td id="iban-number-label">@Messages("ated.edit-liability.summary.bank-details.iban")</td>
        <td id="iban-number-value">@disposeLiability.bankDetails.flatMap(_.bankDetails.map(_.iban))</td>
        <td class="td-top">
          <a href="@controllers.editLiability.routes.DisposeLiabilityBankDetailsController.editFromSummary(disposeLiability.id.toString)" id="edit-bank-details" aria-label='@Messages("ated.edit-liability.summary.bank-details.edit-link.title")' data-journey-click="ated-frontend:click:edit-bank-details"> @Messages("ated.edit")
          </a>
        </td>
      </tr>
      <tr>
        <td id="bicSwiftCode-code-label">@Messages("ated.edit-liability.summary.bank-details.bic-swift-code")</td>
        <td id="bicSwiftCode-code-value">@disposeLiability.bankDetails.flatMap(_.bankDetails.map(_.bicSwiftCode))</td>
        <td class="td-top">
          <a href="@controllers.editLiability.routes.DisposeLiabilityBankDetailsController.editFromSummary(disposeLiability.id.toString)" id="edit-bank-details" aria-label='@Messages("ated.edit-liability.summary.bank-details.edit-link.title")' data-journey-click="ated-frontend:click:edit-bank-details"> @Messages("ated.edit")
          </a>
        </td>
      </tr>
       }
      }
    }else {
     @if(!disposeLiability.bankDetails.isDefined) {
    <tr>
      <td colspan="3" class="heading-small" id="bank-details-header">@Messages("ated.edit-liability.summary.bank-details.header")</td>
    </tr>
    <tr>
      <td id="supply-bank-label">@Messages("ated.edit-liability.summary.bank-details.supply-bank-details")</td>
      <td id="supply-bank-value" class="status"><span class="incomplete">@incomplete</span></td>
      <td class="td-top">
        <a href="@controllers.editLiability.routes.DisposeLiabilityHasBankDetailsController.editFromSummary(disposeLiability.id.toString)" id="edit-bank-details" aria-label='@Messages("ated.edit-liability.summary.bank-details.edit-link.title")' data-journey-click="ated-frontend:click:edit-bank-details"> @Messages("ated.edit")
        </a>
      </td>
    </tr>
    }
    }
    <tr>
      <td colspan="3" class="heading-small" id="return-status-header">@Messages("ated.property-details-summary.table.property-ated-details.return-status.header")</td>
    </tr>
    <tr>
      <td id="return-status-label">@Messages("ated.edit-liability.summary.bank-details.return-status.label")</td>
      <td id="return-status-value">@Messages("ated.property-details-summary.status.text")</td>
      <td class="ated-two-thirds"></td>
    </tr>
  </table>

  <div class="form-group">
    <p id="ated-charge-text">
      @Messages("ated.property-details-summary.table.ated-charge.text")
    </p>
    <span id="ated-charge-value" class="heading-xlarge form-group">
      @disposeLiability.calculated.map(x => formattedPounds(x.liabilityAmount))
    </span>
  </div>

  <div class="form-group">
    <span class="panel-indent">@Messages("ated.property-details-summary.saved-draft.text")</span>
  </div>

  <div class="form-group">
    <a href="@controllers.editLiability.routes.DisposeLiabilitySummaryController.viewPrintFriendlyDisposeLiabilityReturn(disposeLiability.id.toString)" class="print-link" id="print-friendly-edit-liability-link" target="_blank">
      @Messages("ated.dispose-property.summary.print.view")
    </a>
  </div>

  <div class="form-group">
    <a href="@controllers.routes.AccountSummaryController.view" id="saved-returns-link">@Messages("ated.dispose-property.summary.save-as-draft-link")</a>
  </div>

  @form(action=controllers.editLiability.routes.DisposeLiabilitySummaryController.submit(disposeLiability.id.toString)) {
  <button class="button" id="submit" type="submit">@Messages("ated.confirm-and-continue")</button>
  }

}
