@(changeLiability: models.PropertyDetails, returnType: String, periods : Seq[models.LineItem], valuesToDisplay: Seq[models.LineItemValue], backLink: Option[String])(implicit atedContext: AtedContext, messages: Messages)

@import uk.gov.hmrc.play.views.html.helpers._
@import utils.PeriodUtils
@import views.html.helpers._

@incomplete = {@Messages("ated.label.incomplete")}

@atedMain(title = Messages("ated.property-details-summary.title"), attorney = atedContext.user.authContext.attorney) {

  @pageHeadersAndError(backLink, "pre-heading", Messages("ated.property-details.pre-header-change"))
    <h1 class="heading-xlarge" id="edit-liability-summary-header">
      @Messages("ated.property-details-summary.header")
    </h1>

    <div class="form-group">
      <p id="details-text">@Messages("ated.property-details-summary.details-text", PeriodUtils.periodStartDate(changeLiability.periodKey).toString(Messages("ated.date-format")), PeriodUtils.periodEndDate(changeLiability.periodKey).toString(Messages("ated.date-format")))</p>
    </div>

  <div class="form-group" id="property-summary">
    <div class="grid-wrapper">
      <h2 id="property-details-header" class="heading-medium">@Messages("ated.property-details-summary.table.property-details.header")</h2>
    </div>

    <div class="grid-wrapper row-border">
      <div class="grid grid-1-3 cya-question">
        <span class="heading-small" id="property-address-label">@Messages("ated.property-details-summary.table.property-details.address.label")</span>
      </div>

      <div class="grid grid-1-3 cya-answer">
        <span id="address-line-1">@changeLiability.addressProperty.line_1</span>,<br>
        <span id="address-line-2">@changeLiability.addressProperty.line_2</span>,<br>
        @if(changeLiability.addressProperty.line_3.isDefined){<span id="address-line-3">@changeLiability.addressProperty.line_3</span>,<br/>}
        @if(changeLiability.addressProperty.line_4.isDefined){<span id="address-line-4">@changeLiability.addressProperty.line_4</span>,<br/>}
        @if(changeLiability.addressProperty.postcode.isDefined){<span id="address-postcode">@changeLiability.addressProperty.postcode</span>}
      </div>

      <div class="grid grid-1-3 cya-change">
        <a href="@controllers.propertyDetails.routes.PropertyDetailsAddressController.editFromSummary(changeLiability.id)" id="edit-property-address-details" title='@Messages("ated.property-details-summary.table.property-details-edit-link.title")'>
          @Messages("ated.edit")
        </a>
      </div>
    </div>

    <div class="grid-wrapper row-border">
      <div class="grid grid-1-3 cya-question">
        <span id="property-title-number-label" class="heading-small">@Messages("ated.property-details-summary.table.property-details.title-number.label")</span>
      </div>

      <div class="grid grid-1-3 cya-question">
        <span id="property-title-number">@changeLiability.title.map(_.titleNumber).getOrElse("")</span>
      </div>

      <div class="grid grid-1-3 cya-change">
        <a href="@controllers.propertyDetails.routes.PropertyDetailsTitleController.editFromSummary(changeLiability.id)" id="edit-property-title-details" title='@Messages("ated.property-details-summary.table.property-details-edit-link.title")'>
          @Messages("ated.edit")
        </a>
      </div>
    </div>
  </div>

<div class="form-group">
  <div class="grid-wrapper">
    <h2 id="property-value-header" class="heading-medium">@Messages("ated.property-details-summary.table.property-value.header")</h2>
  </div>

  @for((valueObj, index) <- valuesToDisplay.zipWithIndex) {
  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span id="property-value-label-@index" class="heading-small">@PeriodUtils.getPeriodValueMessage(index, valuesToDisplay.size)</span>
    </div>

    <div class="grid grid-1-3 cya-answer">
      <span id="property-value-label-@index">@formattedPounds(valueObj.propertyValue)</span>
    </div>

    <div class="grid grid-1-3 cya-change">
      <a href="@controllers.editLiability.routes.EditLiabilityHasValueChangedController.editFromSummary(changeLiability.id.toString)" id="edit-property-value" title='@Messages("ated.property-details-summary.table.property-value-edit-link.title")'>
        @Messages("ated.edit")
      </a>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
    <span id="property-date-of-valuation-label-@index" class="heading-small">@PeriodUtils.getPeriodValueDateMessage(index, valuesToDisplay.size)</span>
    </div>

    <div class="grid grid-1-3 cya-answer">
      <span id="property-date-of-valuation-@index">@valueObj.dateOfChange.toString(Messages("ated.date-format"))</span>
    </div>

    <div class="grid grid-1-3 cya-change">
      <a href="@controllers.propertyDetails.routes.PropertyDetailsProfessionallyValuedController.view(changeLiability.id)" id="edit-property-professionally-valued-details" title='@Messages("ated.property-details-summary.table.property-details-edit-link.title")'>
        @Messages("ated.edit")
      </a>
    </div>
  </div>
    }
</div>

@if(changeLiability.bankDetails.map(_.hasBankDetails) == Some(true)){
<div class="form-group">
  <div class="grid-wrapper">
    <h2 id="bank-details-header" class="heading-medium">@Messages("ated.edit-liability.summary.bank-details.header")</h2>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
    </div>
    <div class="grid grid-1-3 cya-answer">
    </div>
    <div class="grid grid-1-3 cya-change">
      <a href="@controllers.editLiability.routes.HasBankDetailsController.editFromSummary(changeLiability.id.toString)" id="edit-bank-details" title='@Messages("ated.edit-liability.summary.bank-details.edit-link.title")'> @Messages("ated.edit")</a>
      </a>
    </div>
  </div>





}






  <table id="property-summary" class="ated-table-wrap">
    <tr>
      <td colspan="3" class="heading-small ated-two-thirds td-height" id="edit-liability-header">@Messages("ated.property-details-summary.table.property-details.header")</td>

    </tr>
    <tr>
      <td id="property-address-label" class="td-top">@Messages("ated.property-details-summary.table.property-details.address.label")</td>
      <td id="property-address-value" class="td-top"><span id="address-line-1">@changeLiability.addressProperty.line_1</span>,<br/><span id="address-line-2">@changeLiability.addressProperty.line_2</span>,<br/>
        @if(changeLiability.addressProperty.line_3.isDefined){<span id="address-line-3">@changeLiability.addressProperty.line_3</span>,<br/>}
        @if(changeLiability.addressProperty.line_4.isDefined){<span id="address-line-4">@changeLiability.addressProperty.line_4</span>,<br/>}
        @if(changeLiability.addressProperty.postcode.isDefined){<span id="address-postcode">@changeLiability.addressProperty.postcode</span>}</td>
      <td class="td-top">
        <a href="@controllers.propertyDetails.routes.PropertyDetailsAddressController.editFromSummary(changeLiability.id)" id="edit-property-address-details" title='@Messages("ated.property-details-summary.table.property-details-edit-link.title")'>
          @Messages("ated.edit")
        </a>
      </td>
    </tr>
    <tr>
      <td id="property-title-number-label" class="td-top">@Messages("ated.property-details-summary.table.property-details.title-number.label")</td>
      <td id="property-title-number" class="td-top">@changeLiability.title.map(_.titleNumber).getOrElse("")</td>
      <td class="td-top">
        <a href="@controllers.propertyDetails.routes.PropertyDetailsTitleController.editFromSummary(changeLiability.id)" id="edit-property-title-details" title='@Messages("ated.property-details-summary.table.property-details-edit-link.title")'>
          @Messages("ated.edit")
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="heading-small" id="property-value-header">@Messages("ated.property-details-summary.table.property-value.header")</td>
    </tr>
    @for((valueObj, index) <- valuesToDisplay.zipWithIndex) {
    <tr>
      <td id="property-value-label-@index" class="td-top">@PeriodUtils.getPeriodValueMessage(index, valuesToDisplay.size)</td>
      <td id="property-value-value-@index" class="td-top">@formattedPounds(valueObj.propertyValue)</td>
      <td class="td-top">
        <a href="@controllers.editLiability.routes.EditLiabilityHasValueChangedController.editFromSummary(changeLiability.id.toString)" id="edit-property-value" title='@Messages("ated.property-details-summary.table.property-value-edit-link.title")'>
          @Messages("ated.edit")
        </a>
      </td>
    </tr>
    <tr>
      <td id="property-date-of-valuation-label-@index" class="td-top">@PeriodUtils.getPeriodValueDateMessage(index, valuesToDisplay.size)</td>
      <td id="property-date-of-valuation-@index" class="td-top">@valueObj.dateOfChange.toString(Messages("ated.date-format"))</td>
      <td class="td-top">
      <a href="@controllers.propertyDetails.routes.PropertyDetailsProfessionallyValuedController.view(changeLiability.id)" id="edit-property-professionally-valued-details" title='@Messages("ated.property-details-summary.table.property-details-edit-link.title")'>
        @Messages("ated.edit")
      </a>
      </td>
    </tr>
    }


    @if(changeLiability.bankDetails.map(_.hasBankDetails) == Some(true)){
      <tr>
        <td class="heading-small" id="bank-details-header">@Messages("ated.edit-liability.summary.bank-details.header")</td>
        <td class="td-height">
          <a href="@controllers.editLiability.routes.HasBankDetailsController.editFromSummary(changeLiability.id.toString)" id="edit-bank-details" title='@Messages("ated.edit-liability.summary.bank-details.edit-link.title")'> @Messages("ated.edit")</a>
          </a>
        </td>
      </tr>
      <tr>
        <td id="account-holder-name-label">@Messages("ated.edit-liability.summary.bank-details.account-holder-name")</td>
        <td id="account-holder-name-value">@changeLiability.bankDetails.flatMap(_.bankDetails.map(_.accountName))</td>
      </tr>
      @if(changeLiability.bankDetails.flatMap(_.bankDetails.flatMap(_.hasUKBankAccount)) == Some(true)){
        <tr>
          <td id="account-number-label">@Messages("ated.edit-liability.summary.bank-details.account-number")</td>
          <td id="account-number-value">@changeLiability.bankDetails.flatMap(_.bankDetails.map(_.accountNumber))</td>
        </tr>
        <tr>
          <td id="sort-code-label">@Messages("ated.edit-liability.summary.bank-details.sort-code")</td>
          <td id="sort-code-value">@changeLiability.bankDetails.flatMap(_.bankDetails.map(_.sortCode))</td>
        </tr>
      }else {
        <tr>
          <td id="iban-label">@Messages("ated.edit-liability.summary.bank-details.iban")</td>
          <td id="iban-value">@changeLiability.bankDetails.flatMap(_.bankDetails.map(_.iban))</td>
        </tr>
        <tr>
          <td id="bic-swift-code-label">@Messages("ated.edit-liability.summary.bank-details.bic-swift-code")</td>
          <td id="bic-swift-code-value">@changeLiability.bankDetails.flatMap(_.bankDetails.map(_.bicSwiftCode))</td>
        </tr>
      }
    }

    <tr>
      <td colspan="3" class="heading-small" id="dates-of-liability-header">@Messages("ated.property-details-summary.table.dates-of-liability.header")</td>
    </tr>
    @for((period, index) <- periods.zipWithIndex) {
    <tr>
      <td id="return-type-@index" class="td-top">@period.description</td>
      <td id="period-@index" class="td-top">@Messages("ated.property-details-summary.table.period.text", period.startDate.toString(Messages("ated.date-format")), period.endDate.toString(Messages("ated.date-format")))</td>
      <td class="td-top">
        <a href="@controllers.propertyDetails.routes.IsFullTaxPeriodController.editFromSummary(changeLiability.id)" id="edit-dates-of-liablity" data-journey-click="ated-frontend:click:edit-dates-of-liablity"
           aria-label='@Messages("ated.property-details-summary.table.dates-of-liability.edit-link.title")'>@Messages("ated.edit")</a>
      </td>
    </tr>
    }
    <tr>
      <td colspan="3" class="heading-small" id="avoidance-scheme-header">@Messages("ated.property-details-summary.table.property-ated-details.avoidance-scheme.header")</td>
    </tr>
    <tr>
      <td id="avoidance-scheme-label" class="td-top">@Messages("ated.property-details-summary.table.property-ated-details.avoidance-scheme.label")</td>
      @changeLiability.period.map(v => v.taxAvoidanceScheme.fold({<td id="avoidance-scheme-value" class="status"><span class="incomplete">{incomplete}</span></td>})(x=>{<td id="avoidance-scheme-value" class="td-top"><span id="otp-val">{x}</span></td>}))
      <td class="td-top">
        <a href="@controllers.propertyDetails.routes.PropertyDetailsTaxAvoidanceController.editFromSummary(changeLiability.id)" id="edit-avoidance-scheme" data-journey-click="ated-frontend:click:dit-avoidance-scheme"
           aria-label='@Messages("ated.property-details-summary.table.property-ated-details.avoidance-scheme.edit-link.title")'>@Messages("ated.edit")</a>
      </td>
    </tr>
    <tr>
      <td id="promoter-reference-label" class="td-top">@Messages("ated.property-details-summary.table.property-ated-details.promoter-reference.label")</td>
      @changeLiability.period.map(v => v.taxAvoidancePromoterReference.fold({<td id="avoidance-scheme-value" class="status"><span class="incomplete">{incomplete}</span></td>})(x=>{<td id="avoidance-scheme-value" class="td-top"><span id="otp-val">{x}</span></td>}))
      <td class="td-top">
        <a href="@controllers.propertyDetails.routes.PropertyDetailsTaxAvoidanceController.editFromSummary(changeLiability.id)" id="edit-promoter-scheme" data-journey-click="ated-frontend:click:dit-avoidance-scheme"
           aria-label='@Messages("ated.property-details-summary.table.property-ated-details.avoidance-scheme.edit-link.title")'>@Messages("ated.edit")</a>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="heading-small" id="supporting-info-header">@Messages("ated.property-details-summary.table.supporting-info.header")</td>
    </tr>
    <tr>
      <td id="additional-information-label" class="td-top">@Messages("ated.property-details-summary.table.property-ated-details.additional-information.label")</td>
      <td id="additional-information-value" class="td-top">
        @changeLiability.period.map(v => v.supportingInfo.fold("")(x=>x))
      </td>
      <td class="td-top">
        <a href="@controllers.propertyDetails.routes.PropertyDetailsSupportingInfoController.editFromSummary(changeLiability.id)" id="edit-supporting-details" data-journey-click="ated-frontend:click:edit-supporting-details"
           aria-label='@Messages("ated.property-details-summary.table.supporting-info.edit-link.title")'>@Messages("ated.edit")</a>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="heading-small td-height" id="return-status-header">@Messages("ated.edit-liability.summary.bank-details.return-status.header")</td>
    </tr>
    <tr>
      <td id="return-status-label" class="td-top">@Messages("ated.property-details-summary.table.property-ated-details.return-status.label")</td>
      <td id="return-status-value" class="td-top">@Messages("ated.property-details-summary.status.text")</td>
      <td class="ated-two-thirds"></td>
    </tr>
  </table>


  <div class="form-group">
    @if(returnType == "F"){
      <p id="ated-charge-text-further">@Messages("ated.property-details-summary.table.revised-ated-charge-further.text")</p>
    }

    @if(returnType == "A"){
      <p id="ated-charge-text-amended">@Messages("ated.property-details-summary.table.revised-ated-charge-amended.text")</p>
    }

    @if(returnType == "C"){
      <p id="ated-charge-text-changed">@Messages("ated.property-details-summary.table.revised-ated-charge-changed.text")</p>
    }

    </p>


    <span id="ated-charge-value" class="heading-xlarge">
      @changeLiability.calculated.flatMap(x=>x.liabilityAmount.map(y=>formattedPounds(y)))
    </span>
  </div>

  <div class="form-group"><span class="panel-indent">@Messages("ated.property-details-summary.saved-draft.text")</span></div>

  <div class="form-group">
    <a href="@controllers.editLiability.routes.EditLiabilitySummaryController.viewPrintFriendlyEditLiabilityReturn(changeLiability.id.toString)" id="print-friendly-edit-liability-link" target="_blank">
      @Messages("ated.edit-liability.summary.print.view")
    </a>
  </div>

  <div class="form-group">
    <a href="@controllers.routes.AccountSummaryController.view" id="saved-returns-link">@Messages("ated.property-details-summary.saved-returns.link.text")</a>
  </div>

  @form(action=controllers.editLiability.routes.EditLiabilitySummaryController.submit(changeLiability.id.toString)) {

    <button class="button" id="submit" type="submit">@Messages("ated.continue")</button>

  }

}
