@import models._
@(oldLiabilityAmount: Option[BigDecimal], oldFormBundleNo: String, liabilityValueDetailsForm: Form[HasValueChanged], mode: Option[String], backLink: Option[String])(implicit atedContext: AtedContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._
@import utils._

@implicitFormInstance = {
  Some(liabilityValueDetailsForm)
}

@analyticsJs = {
  var id = "@oldFormBundleNo";
  var page = document.location.pathname.replace('/' + id, '');
  ga('set', 'page', page);
}

@atedMain(title = Messages("ated.property-details-value.title"),
          attorney = atedContext.user.authContext.attorney,
          analyticsAdditionalJs = Some(analyticsJs)) {

  @pageHeadersAndError(backLink, "pre-heading", AtedUtils.getPropertyDetailsPreHeader(mode), "property-details-header", Messages("ated.property-details-value.header"),
      Some(atedErrorSummary(liabilityValueDetailsForm, "ated.change-property-value-error.general")))

  <div class="form-group">
    <span class="display-block ated-line-height" id="value-text">
      @Messages("ated.change-liability.value.previous-value-text")
      <span class="heading-large form group" id="return-charge">
      @oldLiabilityAmount.map(formattedPounds(_))
      </span>
    </span>
  </div>

  @form(action = controllers.editLiability.routes.EditLiabilityHasValueChangedController.save(oldFormBundleNo)) {

      <div id="hasValueChanged" class="form-group">
        @atedInputRadioGroupNew(liabilityValueDetailsForm("hasValueChanged"),
          Seq("true" -> Messages("ated.property-details-value.yes"),
          "false" -> Messages("ated.property-details-value.no")),
        '_legend -> Messages("ated.property-details-value.header"),
        '_legendClass -> "visuallyhidden",
        '_groupClass -> "inline",
        '_labelClass -> "block-label",
        '_labelAfter -> true,
          '_trackGA -> true
        )
      </div>

      <button class="button" id="submit" type="submit">@Messages("ated.save-and-continue")</button>

  }


}
