@import models._
@(editLiabilityReturnTypeForm: Form[EditLiabilityReturnType], oldFormBundleNo: String, periodKey: Int, editAllowed: Boolean, backLink:Option[String])(implicit atedContext: AtedContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._

@implicitFormInstance = @{ Some(editLiabilityReturnTypeForm) }

@atedMain(title = Messages("ated.edit-liability.title"), attorney = atedContext.user.authContext.attorney) {

  @pageHeadersAndError(backLink, "pre-heading", Messages("ated.edit-liability.change-return.header"), "edit-liability-header", Messages("ated.edit-liability.header"),
      Some(atedErrorSummary(editLiabilityReturnTypeForm, "ated.edit-liability.error.general")))

  <p class="paragraph" id="editliability-text">
    @if(editAllowed){
      @Messages("ated.edit-liability.return-type.legend")
    }else {
      @Messages("ated.edit-liability.return-type.no-edit-legend")
    }
  </p>

  @form(action=controllers.editLiability.routes.EditLiabilityTypeController.continue(oldFormBundleNo, periodKey, editAllowed)) {
    <div id="editLiabilityType">
      @*** CR = change-return, DP = dispose-property && MP = move-property ***@

      @if(editAllowed){
        @atedInputRadioGroupNew(
        editLiabilityReturnTypeForm("editLiabilityType"),
        Seq(
        "CR" -> Messages("ated.edit-liability.change-return-details.label"),
        "DP" -> Messages("ated.edit-liability.dispose-property.label")
        ),
        '_legend -> Messages("ated.edit-liability.return-type.legend"),
        '_labelClass -> "block-label",
        '_legendClass -> "visuallyhidden",
        '_groupClass -> "form-group",
        '_labelAfter -> true,
          '_trackGA -> true
        )
      }else {
        @atedInputRadioGroupNew(
        editLiabilityReturnTypeForm("editLiabilityType"),
        Seq(
        "DP" -> Messages("ated.edit-liability.dispose-property.label")
        ),
        '_legend -> Messages("ated.edit-liability.return-type.legend"),
        '_labelClass -> "block-label",
        '_legendClass -> "visuallyhidden",
        '_groupClass -> "form-group",
        '_labelAfter -> true,
          '_trackGA -> true
        )
      }
    </div>

    <button class="button" id="submit" type="submit">@Messages("ated.continue")</button>
  }
}
