@import models._
@(oldFormBundleNum: String, returnType: String, backLink: Option[String])(implicit atedContext: AtedContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.LocalDate
@import utils.AtedUtils._


@atedMain(title = Messages(printHeaderMsg(returnType)), attorney = atedContext.user.authContext.attorney) {
  @pageHeadersAndError(backLink, "pre-heading", Messages("ated.property-details.pre-header-change"), "relief-declaration-confirmation-header", Messages(printHeaderMsg(returnType)))

  <p id="relief-declaration-before-declaration-text">
    @if(atedContext.user.authContext.attorney.isDefined) { @Messages("ated.edit-liability.before-declaration.agent")} else { @Messages("ated.edit-liability.before-declaration.client")}
  </p>

  <span class="heading-medium" id="declare-or-confirm">
    @if(atedContext.user.authContext.attorney.isDefined) { @Messages("ated.edit-liability.i-confirm-that.agent")} else { @Messages("ated.edit-liability.i-declare-that.client")}
  </span>

  <ul class="list-bullet">
    <li id="declaration-confirmation-text">
      @if(atedContext.user.authContext.attorney.isDefined) { @Messages("ated.edit-liability.i-confirm-that.bullet-text.agent")} else { @Messages("ated.edit-liability.i-declare-that.bullet-text.client")}
    </li>
  </ul>

  @form(action=controllers.editLiability.routes.EditLiabilityDeclarationController.submit(oldFormBundleNum)) {

      <button class="button" id="submit" type="submit">@Messages(printSubmitMsg(returnType))</button>

  }
}
