@import models._
@(bankDetailsForm: Form[HasBankDetails], oldFormBundleNo: String, backLink: Option[String])(implicit atedContext: AtedContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._

@implicitFormInstance = @{ Some(bankDetailsForm) }

@pageScripts = {
  <script src='@controllers.routes.AssetsController.at("javascript/bankDetails.js")'></script>
}

@atedMain(title = Messages("ated.bank-details.has-bank-details.title"), attorney = atedContext.user.authContext.attorney, pageScripts = Some(pageScripts)) {

  @pageHeadersAndError(backLink, "pre-heading", Messages("ated.property-details.pre-header-change"), "bank-details-header", Messages("ated.bank-details.has-bank-details.header"),
      Some(atedErrorSummary(bankDetailsForm, "ated.bank-details.error-key")))

  <div class="form-group">
    <p id="has-bank-details-text">@Messages("ated.bank-details.has-bank-details.paragraph.text")</p>
  </div>

  @form(action=controllers.editLiability.routes.HasBankDetailsController.save(oldFormBundleNo)) {
    <div class="form-group" id="hasBankDetails-id">
      @atedInputRadioGroupNew(
      bankDetailsForm("hasBankDetails"),
      Seq(
      "true" -> Messages("ated.label.yes"),
      "false" -> Messages("ated.label.no")
      ),
      '_legend -> Messages("ated.bank-details.has-bank-details.header"),
      '_legendClass -> "visuallyhidden",
      '_labelClass -> "block-label",
      '_groupClass -> "inline",
      '_labelAfter -> true,
      '_trackGA -> true
      )
    </div>

    <button class="button" id="submit" type="submit">@Messages("ated.save-and-continue")</button>

  }

}
