@import models._
@(periodKey: Int, isTaxAvoidanceForm: Form[IsTaxAvoidance], periodStartDate: org.joda.time.LocalDate, backLink: Option[String])(implicit atedContext: AtedContext, messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._
@import utils._

@formattedPeriodStartDate = @{periodStartDate.toString(Messages("ated.date-format.numeric"))}

@pageScripts = {
<script src='@controllers.routes.AssetsController.at("javascript/chooseReliefs.js")'></script>
}

@implicitFormInstance = @{ Some(isTaxAvoidanceForm) }

@atedMain(title = Messages("ated.choose-reliefs.avoidance-title"), attorney = atedContext.user.authContext.attorney, pageScripts = Some(pageScripts)) {
@pageHeadersAndError(backLink, "pre-header", Messages("ated.choose-reliefs.subheader"), "choose-reliefs-header", Messages("ated.choose-reliefs.avoidance-title"),
    Some(atedErrorSummary(isTaxAvoidanceForm, "ated.choose-reliefs.error.general")))


    <details id="whatIsTaxAvoidanceScheme">
        <summary role="button" aria-controls="whatIsTaxAvoidanceScheme-0" tabindex="0" class="summary font-small" id="whatIsTaxAvoidanceSchemeQuestion">
            @Messages("ated.choose-reliefs.avoidance-question")
        </summary>
        <div id="whatIsTaxAvoidanceScheme-0" class="panel-indent font-xsmall">
            <p id="taxAvoidanceReveal-p1">@Messages("ated.choose-reliefs.avoidance-reveal-line-1")</p>
            <p id="taxAvoidanceReveal-p2">@Messages("ated.choose-reliefs.avoidance-reveal-line-2")</p>
            <ul class="list list-bullet">
                <li>@Messages("ated.choose-reliefs.avoidance-info-line-1")</li>
                <li>@Messages("ated.choose-reliefs.avoidance-info-line-2")</li>
            </ul>
            <p id="moreINfoOnTaxAvoidance">@Html(Messages("ated.choose-reliefs.avoidance-more-info"))</p>
        </div>
    </details>

    @form(action=controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.send(periodKey)) {

    <div id="isAvoidanceScheme">
      @atedInputRadioGroupNew(isTaxAvoidanceForm("isAvoidanceScheme"),
        Seq(
          "true" -> Messages("ated.claim-relief.avoidance-scheme.yes"),
          "false" -> Messages("ated.claim-relief.avoidance-scheme.no")),
          '_fieldsetAttributesHelpQuestion -> "isAvoidanceScheme-help-question",
          '_legend -> Messages("ated.choose-reliefs.avoidance-title"),
          '_labelClass -> "block-label",
          '_groupClass -> "form-group  inline",
          '_legendClass -> "visuallyhidden",
          '_labelAfter -> true,
          '_trackGA -> true
        )
    </div>

    <div class="form-group">
      <button class="button" id="submit" type="submit">@Messages("ated.choose-reliefs.continue")</button>
    </div>


  }
}
