@import models._
@(periodKey: Int, reliefsTaxAvoidance : Option[ReliefsTaxAvoidance], canSubmit: Boolean, isComplete: Boolean, backLink: Option[String])(implicit atedContext: AtedContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._
@import utils.PeriodUtils.{periodStartDate, periodEndDate}

@atedMain(title = Messages("ated.relief-summary.title"), attorney = atedContext.user.authContext.attorney) {
  @pageHeadersAndError(backLink, "pre-header", Messages("ated.choose-reliefs.subheader"))
  <h1 class="heading-xlarge" id="property-details-summary-header">
    @Messages("ated.relief-summary.header")
  </h1>

  <div class="form-group">
    <p id="details-text">@Messages("ated.relief-summary.details-text",
      periodStartDate(periodKey).toString(Messages("ated.date-format")),
      periodEndDate(periodKey).toString(Messages("ated.date-format")))
    </p>
  </div>

@reliefsTaxAvoidance.map { reliefData =>

@if(reliefData.reliefs.openToPublic) {
<div class="form-group">
  <div class="grid-wrapper">
      <h2 class="heading-medium">@Messages("ated.relief-summary-types.openToPublic")</h2>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span class="heading-small">@Messages("ated.relief-summary.datesOfRelief")</span>
    </div>

    <div class="grid grid-1-3 cya-answer">
      @reliefData.reliefs.openToPublicDate.getOrElse(reliefData.periodStartDate).toString(Messages("ated.date-format.short"))  @Messages("ated.relief-summary.relief-end-date")
    </div>

    <div id="edit-reliefs-rp" class="grid grid-1-3 cya-change">
      <a href="@controllers.reliefs.routes.ChooseReliefsController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

<div class="form-group">
  <div class="grid-wrapper row-border">
    <div id="tas-rp" class="grid grid-1-3 cya-question">
      <span class="heading-small">@Messages("ated.relief-summary.avoidanceSchmRefNum")</span>
    </div>

    <div class="grid grid-1-3 cya-answer" id="tas-status-rp">
      @if(canSubmit){ <span>@reliefData.taxAvoidance.rentalBusinessScheme</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
    </div>

    <div id="tas-edit-rp" class="grid grid-1-3 cya-change">
      <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span class="heading-small" id="tas-rp">@Messages("ated.relief-summary.avoidanceSchmRefNum-promoter")</span>
    </div>

    <div id="tas-status-rp" class="grid grid-1-3 cya-answer">
      @if(canSubmit){ <span>@reliefData.taxAvoidance.openToPublicScheme</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
    </div>

    <div class="grid grid-1-3 cya-change" id="tas-edit-rp">
      <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question id="status-rp">
      <span class="heading-small" id="tas-rp">
        @Messages("ated.relief-summary.status")</div>
    <div class="grid grid-1-3 cya-answer" id="status-draft-rp" colspan="2">@Messages("ated.relief-summary.draft")</div>
  </div>

</div>
}

@if(reliefData.reliefs.rentalBusiness) {
<div class="form-group">
  <div class="grid-wrapper">
    <h2 id="rentalBusiness" class="heading-medium">@Messages("ated.relief-summary-types.rentalBusiness")</h2>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span id="dates-relief-rp" class="heading-small">@Messages("ated.relief-summary.datesOfRelief")</span>
    </div>

    <div id="date-from-to-rp" class="grid grid-1-3 cya-answer">
      @reliefData.reliefs.rentalBusinessDate.getOrElse(reliefData.periodStartDate).toString(Messages("ated.date-format.short"))  @Messages("ated.relief-summary.relief-end-date")
    </div>

    <div class="grid grid-1-3 cya-change" id="edit-reliefs-rp">
      <a href="@controllers.reliefs.routes.ChooseReliefsController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div id="tas-rp" class="grid grid-1-3 cya-question">
      <span class="heading-small">@Messages("ated.relief-summary.avoidanceSchmRefNum")</span>
    </div>

    <div class="grid grid-1-3 cya-answer" id="tas-status-rp">
      @if(canSubmit){ <span>@reliefData.taxAvoidance.rentalBusinessScheme</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
    </div>

    <div id="tas-edit-rp" class="grid grid-1-3 cya-change">
      <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span class="heading-small" id="tas-rp">@Messages("ated.relief-summary.avoidanceSchmRefNum-promoter")</span>
    </div>

    <div id="tas-status-rp" class="grid grid-1-3 cya-answer">
      @if(canSubmit){ <span>@reliefData.taxAvoidance.rentalBusinessScheme</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
    </div>

    <div class="grid grid-1-3 cya-change" id="tas-edit-rp">
      <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span class="heading-small" id="status-rp">@Messages("ated.relief-summary.status")</span>
    </div>
    <div class="grid grid-1-3 cya-answer">
      <span id="status-draft-rp">@Messages("ated.relief-summary.draft")</span>
    </div>
  </div>
</div>
  }

  @if(reliefData.reliefs.propertyDeveloper) {
<div class="form-group">
    <div class="grid-wrapper">
      <h2 id="property-developer" class="heading-medium">@Messages("ated.relief-summary-types.propertyDeveloper")</h2>
    </div>

    <div class="grid-wrapper row-border">
      <div class="grid grid-1-3 cya-question">
        <span id="dates-relief-pd" class="heading-small">@Messages("ated.relief-summary.datesOfRelief")</span>
      </div>

      <div id="date-from-to-pd" class="grid grid-1-3 cya-answer">
        @reliefData.reliefs.propertyDeveloperDate.getOrElse(reliefData.periodStartDate).toString(Messages("ated.date-format.short"))  @Messages("ated.relief-summary.relief-end-date")
      </div>

      <div class="grid grid-1-3 cya-change" id="edit-reliefs-pd">
        <a href="@controllers.reliefs.routes.ChooseReliefsController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-pd">
          @Messages("ated.edit")
        </a>
        <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.propertyDeveloper")</span>
      </div>
    </div>

    <div class="grid-wrapper row-border">
      <div id="tas-rp" class="grid grid-1-3 cya-question">
        <span class="heading-small">@Messages("ated.relief-summary.avoidanceSchmRefNum")</span>
      </div>

      <div class="grid grid-1-3 cya-answer" id="tas-status-pd">
        @if(canSubmit){ <span>@reliefData.taxAvoidance.propertyDeveloperScheme</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
      </div>

      <div id="tas-edit-pd" class="grid grid-1-3 cya-change">
        <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
          @Messages("ated.edit")
        </a>
        <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
      </div>
    </div>

    <div class="grid-wrapper row-border">
      <div class="grid grid-1-3 cya-question">
        <span class="heading-small" id="prn-pd">@Messages("ated.relief-summary.avoidanceSchmRefNum-promoter")</span>
      </div>

      <div id="prn-status-pd" class="grid grid-1-3 cya-answer">
        @if(canSubmit){ <span>@reliefData.taxAvoidance.rentalBusinessScheme</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
      </div>

      <div class="grid grid-1-3 cya-change" id="prn-edit-pd">
        <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
          @Messages("ated.edit")
        </a>
        <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
      </div>
    </div>

    <div class="grid-wrapper row-border">
      <div class="grid grid-1-3 cya-question">
        <span class="heading-small" id="status-pd">@Messages("ated.relief-summary.status")</span>
      </div>
      <div class="grid grid-1-3 cya-answer">
        <span id="status-draft-pd">@Messages("ated.relief-summary.draft")</span>
      </div>
    </div>
</div>
  }

  @if(reliefData.reliefs.propertyTrading) {
<div class="form-group">
  <div class="grid-wrapper">
    <h2 id="property-trading" class="heading-medium">@Messages("ated.relief-summary-types.propertyTrading")</h2>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span id="dates-relief-pt" class="heading-small">@Messages("ated.relief-summary.datesOfRelief")</span>
    </div>

    <div id="date-from-to-pt" class="grid grid-1-3 cya-answer">
      @reliefData.reliefs.propertyTradingDate.getOrElse(reliefData.periodStartDate).toString(Messages("ated.date-format.short"))  @Messages("ated.relief-summary.relief-end-date")
    </div>

    <div class="grid grid-1-3 cya-change" id="edit-reliefs-pt">
      <a href="@controllers.reliefs.routes.ChooseReliefsController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-pt">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.propTrading")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div id="tas-rp" class="grid grid-1-3 cya-question">
      <span class="heading-small">@Messages("ated.relief-summary.avoidanceSchmRefNum")</span>
    </div>

    <div class="grid grid-1-3 cya-answer" id="tas-status-pt">
      @if(canSubmit){ <span>@reliefData.taxAvoidance.propertyTradingScheme</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
    </div>

    <div id="tas-edit-pt" class="grid grid-1-3 cya-change">
      <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span class="heading-small" id="prn-pt">@Messages("ated.relief-summary.avoidanceSchmRefNum-promoter")</span>
    </div>

    <div id="prn-status-pt" class="grid grid-1-3 cya-answer">
      @if(canSubmit){ <span>@reliefData.taxAvoidance.propertyTradingSchemePromoter</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
    </div>

    <div class="grid grid-1-3 cya-change" id="prn-edit-pd">
      <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span class="heading-small" id="status-pt">@Messages("ated.relief-summary.status")</span>
    </div>
    <div class="grid grid-1-3 cya-answer">
      <span id="status-draft-pt">@Messages("ated.relief-summary.draft")</span>
    </div>
  </div>
</div>
  }

  @if(reliefData.reliefs.lending) {
<div class="form-group">
  <div class="grid-wrapper">
    <h2 id="lending" class="heading-medium">@Messages("ated.relief-summary-types.lending")</h2>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span id="dates-relief-pt" class="heading-small">@Messages("ated.relief-summary.datesOfRelief")</span>
    </div>

    <div id="date-from-to-ln" class="grid grid-1-3 cya-answer">
      @reliefData.reliefs.lendingDate.getOrElse(reliefData.periodStartDate).toString(Messages("ated.date-format.short"))  @Messages("ated.relief-summary.relief-end-date")
    </div>

    <div class="grid grid-1-3 cya-change" id="edit-reliefs-ln">
      <a href="@controllers.reliefs.routes.ChooseReliefsController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-ln">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.lending")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div id="tas-ln" class="grid grid-1-3 cya-question">
      <span class="heading-small">@Messages("ated.relief-summary.avoidanceSchmRefNum")</span>
    </div>

    <div class="grid grid-1-3 cya-answer" id="tas-status-ln">
      @if(canSubmit){ <span>@reliefData.taxAvoidance.lendingScheme</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
    </div>

    <div id="tas-edit-pt" class="grid grid-1-3 cya-change">
      <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span class="heading-small" id="prn-ln">@Messages("ated.relief-summary.avoidanceSchmRefNum-promoter")</span>
    </div>

    <div id="prn-status-ln" class="grid grid-1-3 cya-answer">
      @if(canSubmit){ <span>@reliefData.taxAvoidance.lendingSchemePromoter</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
    </div>

    <div class="grid grid-1-3 cya-change" id="prn-edit-ln">
      <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span class="heading-small" id="status-ln">@Messages("ated.relief-summary.status")</span>
    </div>
    <div class="grid grid-1-3 cya-answer">
      <span id="status-draft-ln">@Messages("ated.relief-summary.draft")</span>
    </div>
  </div>
</div>
  }

  @if(reliefData.reliefs.employeeOccupation) {
<div class="form-group">
  <div class="grid-wrapper">
    <h2 id="employee-occupation" class="heading-medium">@Messages("ated.relief-summary-types.employeeOccupation")</h2>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span id="dates-relief-pt" class="heading-small">@Messages("ated.relief-summary.datesOfRelief")</span>
    </div>

    <div id="date-from-to-ln" class="grid grid-1-3 cya-answer">
      @reliefData.reliefs.employeeOccupationDate.getOrElse(reliefData.periodStartDate).toString(Messages("ated.date-format.short"))  @Messages("ated.relief-summary.relief-end-date")
    </div>

    <div class="grid grid-1-3 cya-change" id="edit-reliefs-eo">
      <a href="@controllers.reliefs.routes.ChooseReliefsController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-eo">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.eo")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div id="tas-eo" class="grid grid-1-3 cya-question">
      <span class="heading-small">@Messages("ated.relief-summary.avoidanceSchmRefNum")</span>
    </div>

    <div class="grid grid-1-3 cya-answer" id="tas-status-ln">
      @if(canSubmit){ <span>@reliefData.taxAvoidance.employeeOccupationScheme</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
    </div>

    <div id="tas-edit-pt" class="grid grid-1-3 cya-change">
      <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span class="heading-small" id="prn-eo">@Messages("ated.relief-summary.avoidanceSchmRefNum-promoter")</span>
    </div>

    <div id="prn-status-eo" class="grid grid-1-3 cya-answer">
      @if(canSubmit){ <span>@reliefData.taxAvoidance.employeeOccupationSchemePromoter</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
    </div>

    <div class="grid grid-1-3 cya-change" id="prn-edit-eo">
      <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span class="heading-small" id="status-eo">@Messages("ated.relief-summary.status")</span>
    </div>
    <div class="grid grid-1-3 cya-answer">
      <span id="status-draft-eo">@Messages("ated.relief-summary.draft")</span>
    </div>
  </div>
</div>
  }

  @if(reliefData.reliefs.farmHouses) {
<div class="form-group">
  <div class="grid-wrapper">
    <h2 id="farm-houses" class="heading-medium">@Messages("ated.relief-summary-types.farmHouses")</h2>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span id="dates-relief-fh" class="heading-small">@Messages("ated.relief-summary.datesOfRelief")</span>
    </div>

    <div id="date-from-to-fh" class="grid grid-1-3 cya-answer">
      @reliefData.reliefs.farmHousesDate.getOrElse(reliefData.periodStartDate).toString(Messages("ated.date-format.short"))  @Messages("ated.relief-summary.relief-end-date")
    </div>

    <div class="grid grid-1-3 cya-change" id="edit-reliefs-fh">
      <a href="@controllers.reliefs.routes.ChooseReliefsController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-fh">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.farmHouses")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div id="tas-fh" class="grid grid-1-3 cya-question">
      <span class="heading-small">@Messages("ated.relief-summary.avoidanceSchmRefNum")</span>
    </div>

    <div class="grid grid-1-3 cya-answer" id="tas-status-fh">
      @if(canSubmit){ <span>@reliefData.taxAvoidance.farmHousesScheme</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
    </div>

    <div id="tas-edit-fh" class="grid grid-1-3 cya-change">
      <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span class="heading-small" id="prn-fh">@Messages("ated.relief-summary.avoidanceSchmRefNum-promoter")</span>
    </div>

    <div id="prn-status-eo" class="grid grid-1-3 cya-answer">
      @if(canSubmit){ <span>@reliefData.taxAvoidance.farmHousesScheme</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
    </div>

    <div class="grid grid-1-3 cya-change" id="prn-edit-fh">
      <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span class="heading-small" id="status-fh">@Messages("ated.relief-summary.status")</span>
    </div>
    <div class="grid grid-1-3 cya-answer">
      <span id="status-draft-fh">@Messages("ated.relief-summary.draft")</span>
    </div>
  </div>
</div>
  }

  @if(reliefData.reliefs.socialHousing) {
<div class="form-group">
  <div class="grid-wrapper">
    <h2 id="farm-houses" class="heading-medium">@Messages("ated.relief-summary-types.socialHousing")</h2>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span id="dates-relief-sh" class="heading-small">@Messages("ated.relief-summary.datesOfRelief")</span>
    </div>

    <div id="date-from-to-sh" class="grid grid-1-3 cya-answer">
      @reliefData.reliefs.socialHousingDate.getOrElse(reliefData.periodStartDate).toString(Messages("ated.date-format.short"))  @Messages("ated.relief-summary.relief-end-date")
    </div>

    <div class="grid grid-1-3 cya-change" id="edit-reliefs-sh">
      <a href="@controllers.reliefs.routes.ChooseReliefsController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-fh">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.farmHouses")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div id="tas-fh" class="grid grid-1-3 cya-question">
      <span class="heading-small">@Messages("ated.relief-summary.avoidanceSchmRefNum")</span>
    </div>

    <div class="grid grid-1-3 cya-answer" id="tas-status-sh">
      @if(canSubmit){ <span>@reliefData.taxAvoidance.socialHousingScheme</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
    </div>

    <div id="tas-edit-fh" class="grid grid-1-3 cya-change">
      <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span class="heading-small" id="prn-sh">@Messages("ated.relief-summary.avoidanceSchmRefNum-promoter")</span>
    </div>

    <div id="prn-status-sh" class="grid grid-1-3 cya-answer">
      @if(canSubmit){ <span>@reliefData.taxAvoidance.socialHousingSchemePromoter</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
    </div>

    <div class="grid grid-1-3 cya-change" id="prn-edit-sh">
      <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span class="heading-small" id="status-sh">@Messages("ated.relief-summary.status")</span>
    </div>
    <div class="grid grid-1-3 cya-answer">
      <span id="status-draft-sh">@Messages("ated.relief-summary.draft")</span>
    </div>
  </div>
</div>
  }

@if(reliefData.reliefs.equityRelease) {
<div class="form-group">
  <div class="grid-wrapper">
    <h2 id="equity-release" class="heading-medium">@Messages("ated.relief-summary-types.equityRelease")</h2>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span id="dates-relief-er" class="heading-small">@Messages("ated.relief-summary.datesOfRelief")</span>
    </div>

    <div id="date-from-to-er" class="grid grid-1-3 cya-answer">
      @reliefData.reliefs.equityReleaseDate.getOrElse(reliefData.periodStartDate).toString(Messages("ated.date-format.short"))  @Messages("ated.relief-summary.relief-end-date")
    </div>

    <div class="grid grid-1-3 cya-change" id="edit-reliefs-er">
      <a href="@controllers.reliefs.routes.ChooseReliefsController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-sh">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.equityRelease")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div id="tas-fh" class="grid grid-1-3 cya-question">
      <span class="heading-small">@Messages("ated.relief-summary.avoidanceSchmRefNum")</span>
    </div>

    <div class="grid grid-1-3 cya-answer" id="tas-status-er">
      @if(canSubmit){ <span>@reliefData.taxAvoidance.equityReleaseScheme</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
    </div>

    <div id="tas-edit-er" class="grid grid-1-3 cya-change">
      <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span class="heading-small" id="prn-er">@Messages("ated.relief-summary.avoidanceSchmRefNum-promoter")</span>
    </div>

    <div id="prn-status-er" class="grid grid-1-3 cya-answer">
      @if(canSubmit){ <span>@reliefData.taxAvoidance.equityReleaseSchemePromoter</span> } else { <span class="status">@Messages("ated.label.incomplete")</span> }
    </div>

    <div class="grid grid-1-3 cya-change" id="prn-edit-er">
      <a href="@controllers.reliefs.routes.AvoidanceSchemeBeingUsedController.editFromSummary(periodKey)" data-journey-click="ated-fronted:click:edit-reliefs-rp">
        @Messages("ated.edit")
      </a>
      <span class="screen-reader-text">@Messages("ated.relief-summary.table.edit-relief-link.rental")</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-1-3 cya-question">
      <span class="heading-small" id="status-er">@Messages("ated.relief-summary.status")</span>
    </div>
    <div class="grid grid-1-3 cya-answer">
      <span id="status-draft-er">@Messages("ated.relief-summary.draft")</span>
    </div>
  </div>
</div>
}

}

<div class="form-group">

  <p id="ated-charge-text">@Messages("ated.relief-summary.table.ated-charge.text")</p>

  <p id="ated-charge-value"><span class="heading-xlarge form-group">
    @if(isComplete) {
      @Messages("ated.relief-summary.table.ated-charge.balance")
    } else {
      @Messages("ated.unknow-amount.text")
    }
  </span></p>

  <div class="panel-indent">
    <p>@Messages("ated.relief-summary.saved-draft.text")</p>
  </div>

</div>


<div class="form-group">
  <a href="@controllers.reliefs.routes.ReliefsSummaryController.viewPrintFriendlyReliefReturn(periodKey)" class="print-link" id="print-friendly-relief-link" data-journey-click="ated-fronted:click:print-friendly-relief-link" target="_blank">
    @Messages("ated.relief-summary.print.view")
  </a>
</div>

<div class="form-group">
  <a href="@controllers.routes.AccountSummaryController.view" id="saved-returns-link" data-journey-click="ated-fronted:click:saved-returns-link">@Messages("ated.property-details-summary.saved-returns.link.text")</a>
</div>

<div class="form-group">
  <a href="@controllers.reliefs.routes.ReliefsSummaryController.deleteDraft(periodKey)" id="delete-draft" data-journey-click="ated-fronted:click:delete-draft">
      @Messages("ated.property-details-summary.delete-draft.link.text")
  </a>
</div>

  @form(action=controllers.reliefs.routes.ReliefsSummaryController.continue(periodKey)) {
      @if(!isComplete){
      } else {
        @if(canSubmit) {
          <button class="button" id="submit" type="submit">@Messages("ated.relief-summary.submit")</button>
        } else {
          <p id="submit-disabled-text">@Messages("ated.relief-summary.submit-disabled-text")</p>
          <button class="button" id="submit" type="submit" disabled>@Messages("ated.relief-summary.submit")</button>
        }
      }
  }
}
