@import models._
@(submittedReliefReturn: SubmittedReliefReturns, periodKey: Int, formBundleNumber: String, organisationName: Option[String], backLink: Option[String])(implicit atedContext: AtedContext, messages: Messages)
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._
@import utils._

@analyticsJs = {
  var id = "@formBundleNumber";
  var page = document.location.pathname.replace('/' + id, '');
  ga('set', 'page', page);
}

@atedMain(title = Messages("ated.view-relief-return.title"),
          attorney = atedContext.user.authContext.attorney,
          analyticsAdditionalJs = Some(analyticsJs)) {

  @pageHeadersAndError(backLink, "relief-return-subheader", organisationName.getOrElse(""), "relief-return-header", Messages("ated.view-relief-return.header"))

  <div class="form-group">
    @form(action=controllers.reliefs.routes.ViewReliefReturnController.submit(periodKey: Int, formBundleNumber: String)) {
    <div class="paragraph" id="relief-return-text">@Messages("ated.view-relief-return.subheader",
      PeriodUtils.periodStartDate(periodKey).toString(Messages("ated.date-format")),
      PeriodUtils.periodEndDate(periodKey).toString(Messages("ated.date-format")))
    </div>
  </div>
<div class="form-group">
  <div class="grid-wrapper">
    <h2 id="th-view-relief-return-table-header" class="heading-medium">@submittedReliefReturn.reliefType</h2>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-3-4 cya-question">
      <span class="heading-small" id="th-view-relief-return-from-date-label">@Messages("ated.view-relief-return.date.from")</span>
    </div>

    <div class="grid grid-1-4 cya-answer" id="td-view-relief-from-date">
      <span class="visuallyhidden">@Messages("ated.view-relief-return.date.from")</span>
      @submittedReliefReturn.dateFrom.toString(Messages("ated.date-format"))
    </div>
  </div>


  <div class="grid-wrapper row-border">
    <div class="grid grid-3-4 cya-question">
      <span class="heading-small" id="th-view-relief-date-to-label">@Messages("ated.view-relief-return.date.to")</span>
    </div>

    <div class="grid grid-1-4 cya-answer" id="td-view-relief-from-date">
      <span id="td-view-relief-date-to"> <span class="visuallyhidden">@Messages("ated.view-relief-return.date.to")</span> @submittedReliefReturn.dateTo.toString(Messages("ated.date-format"))
    </div>
  </div>


  <div class="grid-wrapper row-border">
    <div class="grid grid-3-4 cya-question">
      <span id="th-view-relief-avoidance-label" class="heading-small">@Messages("ated.view-relief-return.avoidance.no")</span>
    </div>

    <div class="grid grid-1-4 cya-answer" id="td-view-relief-from-date">
      <span id="td-view-relief-avoidance">  <span class="visuallyhidden">@Messages("ated.view-relief-return.avoidance.no")</span> @submittedReliefReturn.avoidanceSchemeNumber</span>
    </div>
  </div>

  <div class="grid-wrapper row-border">
    <div class="grid grid-3-4 cya-question">
      <span id="th-view-relief-avoidance-promoter-label" class="heading-small">@Messages("ated.view-relief-return.promoter.no")</span>
    </div>

    <div class="grid grid-1-4 cya-answer" id="td-view-relief-from-date">

      <span id="td-view-relief-avoidance-promoter"> <span class="visuallyhidden">@Messages("ated.view-relief-return.promoter.no")</span> @submittedReliefReturn.promoterReferenceNumber</span>
    </div>
  </div>


  <div class="grid-wrapper row-border">
    <div class="grid grid-3-4 cya-question">
      <span class="heading-small" id="th-view-relief-status-label">@Messages("ated.view-relief-return.status")</span>
    </div>

    <div class="grid grid-1-4 cya-answer" id="td-view-relief-from-date">

      <span id="td-view-relief-status"> <span class="visuallyhidden">@Messages("ated.view-relief-return.status")</span> @Messages("ated.view-relief-return.status.submitted")</span>
    </div>
  </div>


  <div class="grid-wrapper row-border">
    <div class="grid grid-3-4 cya-question">
      <span id="th-view-relief-submission-date-label" class="heading-small">@Messages("ated.view-relief-return.submission-date")</span>
    </div>

    <div class="grid grid-1-4 cya-answer" id="td-view-relief-from-date">
      <span id="td-view-relief-submission-date"> <span class="visuallyhidden">@Messages("ated.view-relief-return.submission-date")</span> @submittedReliefReturn.dateOfSubmission.toString(Messages("ated.date-format"))</span>
    </div>
  </div>

</div>

    <div class="form-group">
      <div id="return-charge-text">@Messages("ated.form-bundle.view.return.ated.charge")</div>
    </div>

    <div class="form-group">
      <span class="heading-xlarge" id="return-charge">
        @formattedPounds(0)
      </span>
    </div>


      <button class="button" id="submit" type="submit">@Messages("ated.change-return.button")</button>


}
}
