.autocomplete__option {
    font-family: "GDS Transport",arial,sans-serif;
    font-weight: normal;
}

.autocomplete__input {
    font-family: "GDS Transport",arial,sans-serif;
    font-weight: normal;
}