.attorneyBanner,
.panel-indent--info,
.delegation-banner {
    border-left-color: #1d70b8;
}

a.banner-links {
    color: #0b0b0b;
}

.attorneyBanner {

    border-left: 3px solid #005ea5;
    background-color: #ddeeff;
    margin: 0;
    padding: 0.6em 0em 0.5em 0em;
    max-width: 960px;

}
.attorneyBanner--client-request-accepted {

    border-left: 3px solid #005ea5;
    background-color: #bfd8cd;
    margin: 0;
    padding: 0.6em 0em 0.5em 0em;
    max-width: 960px;
}
.attorneyBanner--client-request-requested {

    border-left: 3px solid #F47738;
    background-color: #FCDDCD;
    margin: 0;
    padding: 0.6em 0em 0.5em 0em;
    max-width: 960px;
}

.attorneyBanner--client-request-rejected {
    border-left: 3px solid #B10E1E;
    background-color: #ECC3C7;
    margin: 0;
    padding: 0.6em 0em 0.5em 0em;
    max-width: 960px;
}

.grid {
    float: left;
    width: 100%;
}

.font-banner{
    font-size: 19px;
    margin-left: 15px;
    margin-bottom: 0px;
}

.grid-wrapper.attorneyContainer {
    margin: 20 0 30px 0;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    font-family: "GDS Transport",arial,sans-serif;
    font-size: 19px;
}

.banner-links {
    float: right;
}

.service-banner {
    border-bottom: 10px solid #005ea5;
}