@media print {
    header, #notice-banner, .centered-content, .button, .breadcrumbs, #content > .float--right, button, #get-help-action, .link-back, p {
        display: none;
    }
}

.hmrc-account-menu__main {
    padding: 0;
}

.bta-navigation {
    padding: 10px 0 0 0;
    border-bottom: 1px solid #bfc1c3;
}

.bta-navigation ul{
    margin-top: 0;
}

.bta-navigation li{
    display: inline-block;
    margin: 0 0.5em;
}

.bta-navigation a{
    font-size: 19px;
}

.badge {
    background: #B10E1E;
    border-radius: 10px;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    min-width: 10px;
    padding: 5px 8px 1px 8px;
    text-align: center;
    white-space: nowrap;
}

@media(max-width: 768px) {
    .bta-navigation li{
        display: block;
        margin: 0.5em 0 0.5em 0.5em;
    }
}