
@media screen{
   .showPrint {
     display: none;
   }
}

@media print {

    .govuk-main-wrapper > .govuk-grid-row > div[class*='govuk-grid-column-'] {
            width: 100%;
    }

   /* Hide unnecessary elements */
   .cbanner-govuk-cookie-banner,
   .govuk-skip-link,
   .govuk-header,
   .govuk-footer,
   .govuk-link,
   .govuk-button,
   .govuk-phase-banner,
   .govuk-back-link,
   .govuk-caption-xl,
   .print-hidden{
   	display: none;
   }

   #secondary-nav {
   	display: none;
   }

   .showPrint {
       display: block;
   }

   #section-text {
       width: 70%;
   }

   .sign-box{
       float:left;
       margin-right:10px;
       width:30.0%;
       height:70px;
       border:1px solid #808080;
       box-sizing:border-box;
   }

   .sign-labels{
       float:left;
       margin-right:10px;
       width:30.0%;
       height:10px;
       box-sizing:border-box;
       font-weight:bold;
       font-size: 19px;
   }

   .govuk-summary-list__key, .govuk-summary-list__value {
           display: table-cell;
           padding-top: 10px;
           padding-right: 20px;
           padding-bottom: 10px;
           width: 40%;
       }

       .govuk-summary-list__row {
            display: table-row;
       }

       .govuk-summary-list__key {
           width: 40%;
       }

       .govuk-summary-list {
           display: table;
           width: 100%;
           table-layout: fixed;
           border-collapse: collapse;
       }

}
