@import models._
@(summaryReturnsWithDrafts: SummaryReturnsModel, correspondence: Option[Address], organisationName: Option[String], clientBanner: Html)(implicit atedContext: AtedContext, messages: Messages)
@import utils._
@import utils.AtedUtils._
@import controllers.auth.ExternalUrls
@import views.html.helpers._

@analyticsJs = {
    ga('set', 'page', document.location.pathname);
    ga('set', 'location', document.URL.split("?")[0]);
}

@pageScripts = {
    <script src='@controllers.routes.AssetsController.at("javascript/accountSummary.js")'></script>
}

@atedMain(
    title = Messages("ated.summary-return.title"),
    attorney = atedContext.user.authContext.attorney,
    pageScripts = Some(pageScripts),
    sidebarLinks = Some(_accountSummary_sideBar(summaryReturnsWithDrafts.atedBalance, correspondence, organisationName)),
    sidebarClass = Some("related"),
    banner = clientBanner,
    analyticsAdditionalJs = Some(analyticsJs), showUrBanner = Some(true)
) {

    @pageHeadersAndError(None,
        "client-summary-subheader",
        organisationName.getOrElse(""),
        "account-summary-header",
        Messages("ated.summary-return.header"),
        subHeaderPrefix = Some(Messages("ated.screen-reader.section-name"))
    )

    @if(summaryReturnsWithDrafts.allReturns.isEmpty) {
        <h2 class="heading-small" id="return-summary-no-returns">@Messages("ated.account-summary.agent.no-returns")</h2>
    } else {
        <div class="grid grid-wrapper row-border" id="returns-table">
            <span class="visuallyhidden">@Messages("ated.summary-return.table.screen-reader.headings-help")</span>
            <div class="grid grid-1-5 form-label-bold" id="return-summary-period-heading">
                @Messages("ated.account-summary-th.period")
            </div>
            <div class="grid grid-1-5 form-label-bold" id="return-summary-chargeable-heading">
                @Messages("ated.account-summary-th.chargeable")
            </div>
            <div class="grid grid-1-5 form-label-bold" id="return-summary-reliefs-heading">
                @Messages("ated.account-summary-th.reliefs")
            </div>
            <div class="grid grid-2-5 form-label-bold" id="return-summary-drafts-heading">
                @Messages("ated.account-summary-th.drafts")
            </div>
        </div>

        <div class="grid grid-wrapper form-group" id="returns-table-data">
            @summaryReturnsWithDrafts.allReturns.zipWithIndex.map { case (periodSummaryWithDraft, i) =>
            <section>
                <div class="grid grid-1-5" id="return-summary-period-data-@i">
                    <span class="visuallyhidden">@Messages("ated.summary-return.table.screen-reader.period-from")</span>
                    @periodSummaryWithDraft.periodKey to @(periodSummaryWithDraft.periodKey.toInt + 1)
                </div>
                <div class="grid grid-1-5" id="return-summary-chargeable-data-@i">
                    <span class="visuallyhidden">@Messages("ated.summary-return.table.screen-reader.number-of") @Messages("ated.account-summary-th.chargeable")</span>
                    @periodSummaryWithDraft.submittedReturns.fold(0)(a => a.currentLiabilityReturns.size + a.oldLiabilityReturns.size)
                </div>
                <div class="grid grid-1-5" id="return-summary-reliefs-data-@i">
                    <span class="visuallyhidden">@Messages("ated.summary-return.table.screen-reader.number-of") @Messages("ated.account-summary-th.reliefs")</span>
                    @periodSummaryWithDraft.submittedReturns.fold(0)(a => a.reliefReturns.size)
                </div>
                <div class="grid grid-1-5" id="return-summary-drafts-data-@i">
                    <span class="visuallyhidden">@Messages("ated.summary-return.table.screen-reader.number-of") @Messages("ated.account-summary-th.drafts")</span>
                    @periodSummaryWithDraft.draftReturns.size
                </div>
                <div class="grid grid-1-5">
                    <a href="@controllers.routes.PeriodSummaryController.view(periodSummaryWithDraft.periodKey)"
                        id="view-change-@i"
                        data-journey-click="ated-fronted:click:view-change">
                            @Messages("ated.account-summary.view-change-button")
                            <span class="visuallyhidden">
                                @Messages("ated.account-summary-screen-reader")
                                @periodSummaryWithDraft.periodKey to @(periodSummaryWithDraft.periodKey.toInt + 1)
                            </span>
                    </a>
                </div>
            </section>
            }
        </div>
    }

    @if(summaryReturnsWithDrafts.allReturns.nonEmpty) {
        <p>
            <a id="create-return"
                onkeyup='spaceBarHandler(event,"@controllers.routes.SelectPeriodController.view")'
                href="@controllers.routes.SelectPeriodController.view"
                data-journey-click="ated-fronted:click:create-return">
                    @Messages("ated.account-summary.create-return.link")
            </a>
        </p>
    } else {
        @if(atedContext.user.authContext.attorney.isDefined) {
            <p>
                <a id="create-return"
                    onkeyup='spaceBarHandler(event,"@controllers.routes.SelectPeriodController.view")'
                    href="@controllers.routes.SelectPeriodController.view"
                    data-journey-click="ated-fronted:click:create-return">
                        @Messages("ated.account-summary.create-return.button")
                </a>
            </p>
        } else {
            <div class="form-group">
                <p id="return-summary-no-returns-appoint-agent">@Messages("ated.account-summary.agent-appoint.text")</p>
                <p id="return-summary-no-returns-appoint-agent-info">@Messages("ated.account-summary.appoint-agent-info.text")</p>
                <a id="create-return" href="@controllers.routes.SelectPeriodController.view" data-journey-click="ated-fronted:click:create-return">
                    @Messages("ated.account-summary.create-return.link")
                </a>
            </div>
        }
    }

    @if(atedContext.user.authContext.attorney.isEmpty && clientBanner == HtmlFormat.empty) {
        <p>
            <a id="appoint-agent" href="@ExternalUrls.clientApproveAgentMandate">
                @Messages("ated.account-summary.appoint-agent.text")
            </a>
        </p>
    }

}
