@(applicationConfig: config.ApplicationConfig = config.ApplicationConfig,
  supportLinkEnabled: Boolean = false,
  title: String,
  banner: Option[Html] = Some(HtmlFormat.empty),
  sidebarLinks: Option[Html] = None,
  sidebarClass: Option[String] = None,
  contentHeader: Option[Html] = None,
  userLoggedIn: Boolean = false,
  scriptElement: Option[Html] = None,
  linkElement : Option[Html] = None,
  analyticsJs: Option[Html] = None,
  isUserResearchBannerVisible:Boolean = false
  )(mainContent: Html = HtmlFormat.empty)(implicit request : Request[_], messages: Messages)

@import layouts.{govuk_template => hmrcGovUkTemplate}
@import uk.gov.hmrc.play.views.html.{layouts => uiLayouts}
@import uk.gov.hmrc.play.views.html.{helpers => uiHelpers}
@import controllers.auth.ExternalUrls
@import utils.SessionUtils

@head = {
  @uiLayouts.head(
    linkElem = linkElement,
    headScripts = None)
  <meta name="format-detection" content="telephone=no"/>
}

@headerNavLinks = {
  @if(userLoggedIn){
    <li><a id="logOutNavHref" href="@routes.ApplicationController.logout">@Messages("ated.sign-out")</a></li>
  }
}


@article = {
  @uiLayouts.article(content = mainContent, includeGridWrapper = false, articleClasses = None)
}

@sidebar = {
  @uiLayouts.sidebar(sidebarLinks = sidebarLinks.fold(HtmlFormat.empty)(x=>x), sidebarClass = sidebarClass)
}

@insideHeader = {
  @uiLayouts.header_nav(
    navTitle = Some(Messages("ated.navTitle")),
    navTitleLink = None,
    showBetaLink = false,
    navLinks = Some(headerNavLinks))
}

@afterHeader = @{
  if(isUserResearchBannerVisible && applicationConfig.urBannerToggle) {
      helpers.fullWidthBanner(
      Some(helpers.fullWidthBannerContentUr(
        messages("urbanner.message.text"),
        applicationConfig.urBannerLink,
        externalLinkWarning = None
      ))
    )
  }
  else HtmlFormat.empty
}

@bodyEnd = {
  @uiLayouts.footer(
    analyticsToken = applicationConfig.analyticsToken,
    analyticsHost = applicationConfig.analyticsHost,
    ssoUrl = None,
    scriptElem = scriptElement,
    gaCalls = None,
    analyticsAdditionalJs = analyticsJs)
}

@footerTop = {
  <a href="@controllers.routes.LeaveFeedbackController.view(request.uri).url">@Messages("label.feedback")</a>
}

@footerLinks = {}


@btaLink = {
<div class="bta-link">
    <a id="btaNavHref" href=@ExternalUrls.businessTaxAccountPage>@Messages("ated.generic.bta_link")</a>
</div>
}

@serviceInfoContent = {
  @request.session.get(SessionUtils.sessionCallerId).map(x => btaLink)
}

@serviceInfo = {
  @uiLayouts.serviceInfo(
    betaBanner = HtmlFormat.empty,
    includeGridWrapper = false,
    serviceInfoContent = Option(serviceInfoContent),
    includeHMRCBranding = false)
}

@getHelpForm = {
  @if(supportLinkEnabled) {
    @{uiHelpers.reportAProblemLink(config.ApplicationConfig.reportAProblemPartialUrl, config.ApplicationConfig.reportAProblemNonJSUrl)}
  }
}

@mainContentHeader = {
  @contentHeader.map { contentHeaderVal =>
    @uiLayouts.main_content_header(contentHeader = contentHeaderVal)
  }
  @banner
}

@content = {
  @uiLayouts.main_content(
    article = article,
    sidebar = sidebar,
    mainContentHeader = mainContentHeader,
    serviceInfo = serviceInfo,
    getHelpForm = getHelpForm)
}

@hmrcGovUkTemplate(Some(s"$title - GOV.UK"), None)(head, bodyEnd, insideHeader, afterHeader, footerTop, Some(uiLayouts.footer_links()), true)(content)