@import utils.AtedUtils
@(selectPeriodForm: Form[SelectPeriod], periods: List[(String, String)], backLink: Option[String])(implicit atedContext: AtedContext, messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.html.helpers.error._
@import utils.AtedUtils._

@atedMain(title = Messages("ated.select-period.title"), attorney = atedContext.user.authContext.attorney) {
  @pageHeadersAndError(backLink, "pre-heading", Messages("ated.return-type.pre-header"), "header", Messages("ated.select-period.header"),
    Some(atedErrorSummary(selectPeriodForm, "ated.select-period.error.general")))

  <p id="details-text">@Messages("ated.select-period.text")</p>

  @form(action=controllers.routes.SelectPeriodController.submit()) {

  <div id="period">
    @atedInputRadioGroupNew(selectPeriodForm("period"),
    periods,
    '_fieldsetAttributesHelpQuestion -> "showMoreYears",
    '_legend -> Messages("ated.select-period.header"),
    '_fieldsetQuestion -> Messages("ated.select-period.more-years"),
    '_HelpQuestionAnswer -> Html(Messages("ated.select-period.more-years.answer")),
    '_labelClass -> "block-label",
    '_legendClass -> "visuallyhidden",
    '_groupClass -> "form-group",
    '_labelAfter -> true,
    '_trackGA -> true
    )
  </div>


    <button class="button" id="submit" type="submit">@Messages("ated.return-type.button")</button>


  }

}
